<ion-header>
	<ion-toolbar>
		<ion-icon src="../../assets/icon/close.svg" (click)="DismissModal()" slot="start"></ion-icon>
		<ion-title>
			{{_lang._dict.NewsFeed.DetailView.Header + ' ' + news.date.toFormat('dd.MM.yyyy')}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<div class="inner-content">
	<ion-list>
		<!--
		<ion-item lines="none">
			<div id="newsHeadline" class="H5">Some hard written headline</div>
		</ion-item>
	-->
		<ion-item lines="none">
			<div id="newsMessage" class="Body1">{{news.message}}</div>
		</ion-item>
		<ion-item lines="none">
			<div id="markMessage" (click)="changeNewsMarker()">
				<ion-icon src="assets/icon/bookmark/marked.svg" *ngIf="news.isMarked"> </ion-icon>
				<ion-icon src="assets/icon/bookmark/unmarked.svg" *ngIf="!news.isMarked"></ion-icon>
				<span id="markMessageText" class="Link1">
					{{news.isMarked ? _lang._dict.NewsFeed.DetailView.UnMark :
					_lang._dict.NewsFeed.DetailView.Mark}}
				</span>
			</div>
		</ion-item>
	</ion-list>
</div>
