<ion-header class="ion-no-border">
	<ion-toolbar id="languageChange-Toolbar">
		<ion-back-button
			defaultHref="/app/tabs/settings"
			text=""
			slot="start"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content class="input">
	<ion-list>
		<ion-title class="header margin-bottom-1">{{_lang._dict.Settings.LanguageChange.Header}}</ion-title>
		<ion-radio-group [(ngModel)]="selectedLanguage">
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{_lang._dict.Settings.LanguageChange.German}}</ion-label>
				<ion-radio slot="start" value="german" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{_lang._dict.Settings.LanguageChange.English}}</ion-label>
				<ion-radio slot="start" value="english" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{_lang._dict.Settings.LanguageChange.French}}</ion-label>
				<ion-radio slot="start" value="french" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{_lang._dict.Settings.LanguageChange.Spanish}}</ion-label>
				<ion-radio slot="start" value="spanish" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{_lang._dict.Settings.LanguageChange.Polish}}</ion-label>
				<ion-radio slot="start" value="polish" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{_lang._dict.Settings.LanguageChange.Italian}}</ion-label>
				<ion-radio slot="start" value="italian" mode="md"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>
