ion-title,
p,
li,
h3,
h4 {
	color: var(--text-neutral-20);
}

p,
li {
	font-weight: 400;
}

ion-content {
	--padding-start: 1rem;
	--padding-end: 1rem;
}

h3,
h4 {
	font-weight: 700;
}

ion-footer {
	border-top: 1px var(--ion-color-medium) solid;
	background-color: white;
}

.button-disabled {
	--background: #e5e5e5 !important;
	color: var(--ion-color-medium-tint);
}
