<ion-header>
	<ion-toolbar>
		<ion-title id="modalHeader">Datenschutzerklärung</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scrolling($event)">
	<p class="Body2">
		In dieser Datenschutzerklärung erfahren Sie, welche personenbezogenen Daten bei der Nutzung der mycompleet-App
		erhoben werden, wie sie verwendet werden und welche Rechte Ihnen im Rahmen der Datenschutzgrundverordnung (DSGVO)
		für Ihre Daten zustehen.
	</p>
	<p class="Body2">
		Mit der Onlineplattform Workforce („Workforce") bietet die compleet GmbH, Hauptstraße 8, D-82008 Unterhaching
		(„compleet") ihren Kunden eine Lösung für unternehmensübergreifendes Workforcemanagement. Die mycompleet-App („App")
		von compleet ermöglicht den Nutzern, einen flexiblen Zugriff auf einzelne Funktionen von Workforce über ihre
		persönlichen Smartphones und Tablets („mobiles Endgerät").
	</p>
	<p class="Body2">
		Die nachfolgenden Bestimmungen gelten ausschließlich für die Verarbeitung von Daten von Benutzern der mycompleet-App
		(„App-Benutzer"). Für die Nutzung der Web-Version von Workforce gelten die darin angegebenen
		Datenschutzbestimmungen.
	</p>
	<h3 class="Body2-Bold">1. Wer stellt Ihnen die App zur Verfügung und ist für Ihre Daten verantwortlich?</h3>
	<p class="Body2">
		Der Anbieter der App ist die compleet GmbH. compleet verarbeitet Ihre Daten ausschließlich im Auftrag ihrer Kunden
		bzw. Ihres Arbeitgebers („Einsatzunternehmen") nach den Weisungen in der mit dem Einsatzunternehmen geschlossenen
		Vereinbarung zur Auftragsverarbeitung als Auftragsverarbeiter gem. Art. 28 DSGVO. Alleiniger Verantwortlicher für
		die Daten im Sinne von Art. 4 Nr. 7 DSGVO ist damit das Einsatzunternehmen.
	</p>
	<p class="Body2">
		Ausgenommen von Offline-Zeitbuchungen sowie Daten, zu welchen der App-Nutzer Zugriffsrechte erteilt hat, verarbeitet
		die App keine weiteren personenbezogenen Daten im Auftrag des Einsatzunternehmens.
	</p>
	<h3 class="Body2-Bold">2. Auf welcher Rechtsgrundlage werden die Daten in der App verarbeitet?</h3>
	<p class="Body2">
		Die Nutzung der App ermöglicht Ihnen eine komfortable Verwaltung und Buchung Ihrer Arbeitszeiten. compleet
		verarbeitet diese personenbezogenen Daten auf Grundlage einer von Ihnen erteilten Einwilligung (Art. 6 Abs. 1 lit. a
		DSGVO), die Sie mit der Installation der App auf Ihrem mobilen Endgerät erteilt haben.
	</p>
	<p class="Body2">
		Sie können eine erteilte Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen. Weitere Informationen zu
		Ihrem Widerrufsrecht finden Sie unter Ziff. 7 dieser Bestimmung.
	</p>
	<h3 class="Body2-Bold">3. Welche Daten werden in der App verarbeitet?</h3>
	<p class="Body2">
		Die App ist so konzipiert, dass so wenig personenbezogene Daten wie möglich verarbeitet werden. Zudem verzichtet die
		App bewusst auf jegliche Erfassung oder Analyse Ihres Nutzungsverhaltens durch Tracking-Tools. Uber die App
		verarbeitete personenbezogene Daten sind damit nur die Daten, die vom Einsatzunternehmen oder dem App-Nutzer in
		Workforce oder in der App hinterlegt werden.
	</p>
	<p class="Body2">Die von der App verarbeiteten Daten lassen sich den folgenden Kategorien zuordnen:</p>
	<h4>3.1 Zugriffsdaten</h4>
	<p class="Body2">
		Bei jedem Abruf einer auf einem Server hinterlegten Datei fallen Zugriffsdaten an. Im Einzelnen werden bei jedem
		Abruf folgende Daten verarbeitet:
	</p>
	<ul>
		<li>IP-Adresse</li>
		<li>Datum und Uhrzeit des Abrufs (Zeitstempel)</li>
		<li>übertragene Datenmenge (bzw. Paketlänge)</li>
		<li>Token für Authentifizierung</li>
		<li>Meldung über erfolgreichen Abruf</li>
		<li>anfragende Domain</li>
		<li>verwendetes Betriebssystem</li>
		<li>
			Gerätetyp (Smartphone), der Hersteller und das Modell Ihres Smartphones (z. B. „Apple - iPhone12“ oder „Samsung -
			Galaxy 10“)
		</li>
	</ul>
	<p class="Body2">
		Diese Zugriffsdaten werden ausschließlich zur Sicherung und Aufrechterhaltung der technischen Infrastruktur
		verarbeitet. Bei erstmaliger Einrichtung der App werden zur Authentifizierung Benutzername und Passwort
		verschlüsselt übertragen.
	</p>
	<p class="Body2">Zugriffsdaten fallen bei der Nutzung folgender Funktionen der App an:</p>
	<h4 class="Body2-Bold">3.2 Arbeitszeitdaten</h4>
	<ul>
		<li class="Body2">Arbeitszeit: Kommt</li>
		<li class="Body2">Arbeitszeit: Geht</li>
		<li class="Body2">Projektbuchung</li>
		<li class="Body2">Abfragen der Urlaubsdaten</li>
		<li class="Body2">Anfragen der Arbeitszeiten und Freizeitausgleich</li>
		<li class="Body2">Anfragen der gebuchten Arbeitszeiten</li>
		<li class="Body2">Prüfung der Stempelreihenfolge und Plausibilität</li>
	</ul>
	<p class="Body2">
		Soweit Sie die App nur zu Informationszwecken nutzen und keine Eingaben vornehmen, findet die Verarbeitung
		ausschließlich lokal auf Ihrem mobilen Endgerät statt. Hierbei werden keine personenbezogenen Daten verarbeitet.
	</p>
	<h3 class="Body2-Bold">4. Welche Berechtigungen und Funktionen benötigt die App?</h3>
	<p class="Body2">
		Zur vollen Funktionsfähigkeit benötigt die App Zugriff auf verschiedene Funktionen und Schnittstellen Ihres mobilen
		Endgeräts. Dabei verwendet die App ausschließlich Berechtigungen, die für die Bereitstellung der Funktionalitäten
		zwingend erforderlich sind. Dazu ist es erforderlich, dass Sie der App bestimmte Berechtigungen erteilen. Die
		Berechtigungserteilung erfolgt freiwillig durch Sie.
	</p>
	<p class="Body2">
		Bitte beachten Sie, dass Sie im Falle der Ablehnung eines Zugriffsrechts keine oder nur einzelne Funktionen der App
		nutzen können. Sie können bereits erteilte Zugriffsrechte jederzeit mit Wirkung für die Zukunft in den Einstellungen
		Ihres mobilen Endgeräts widerrufen. Die App unterstützt die Betriebssysteme Android und iOS und benötigt folgende
		Berechtigungen zur vollen Funktionsfähigkeit:
	</p>
	<h4>4.1 Kamera</h4>
	<p class="Body2">
		Ihr Smartphone benötigt eine Kamera, Sofern Sie Projektbuchungen mit Projektcodes (QR-Codes) in der App erfassen
		möchten. Sie können beim ersten Start der Funktion „Kamera“ nach Installation der App zustimmen oder ablehnen, ob
		die App auf die Kamera des mobilen Endgerätes zugreifen darf.
	</p>
	<h4>4.2 Hintergrundbetrieb</h4>
	<p class="Body2">
		Die App bietet die Nutzung des Hintergrundbetriebs, während die App nicht aktiv genutzt wird. Im Hintergrundbetrieb
		werden offline gebuchte Stempel, die aufgrund fehlender oder unzureichender Internetverbindung noch nicht
		übermittelt wurden, an Workforce übermittelt.
	</p>
	<h3 class="Body2-Bold">5. Wann werden die Daten gelöscht?</h3>
	<p class="Body2">
		Alle in der App gespeicherten Daten werden gelöscht, sobald sie für die Nutzung der App-Funktionen nicht mehr
		benötigt werden. Dies ist der Fall,
	</p>
	<ul>
		<li>sobald neue Daten verfügbar sind und alte Daten nicht mehr aktuell sind</li>
		<li>bei der Deinstallation der App</li>
		<li>wenn die Logindaten vergessen wurden</li>
	</ul>
	<p class="Body2">
		Systemseitig ist kein Zeitpunkt festgelegt, zu dem in Workforce gespeicherte Daten gelöscht werden. Selbstständig
		löscht compleet kein Kunden- oder Anwenderdaten in Workforce. Die vollständige Datenpflege und der gesetzeskonforme
		Umgang damit obliegen dem Auftraggeber (Einsatzunternehmen).
	</p>
	<p class="Body2">
		Sowohl bei Deinstallation als auch bei der Funktion „Logindaten vergessen“ werden sämtliche Offlinedaten gelöscht.
		Bitte beachten Sie: hierzu zählen auch noch nicht übermittelte, offline gespeicherte Datensätze. Das bedeutet, dass
		in der App erfasste aber noch nicht an Workforce übermittelte Daten gelöscht werden.
	</p>
	<h3 class="Body2-Bold">6. An wen werden Ihre Daten weitergegeben?</h3>
	<p class="Body2">
		Mit dem Betrieb und der Wartung eines Teils der technischen Infrastruktur der App (z. B. Serversysteme, Hotline) hat
		compleet die Firma:
	</p>
	<p class="Body2">
		Netcomdata GmbH, Mündener Straße 31, D-34123 Kassel als Auftragsverarbeiter beauftragt. Es besteht ein
		Auftragsverarbeitungsvertrag.
	</p>
	<p class="Body2">
		Mit der App und in Workforce erfasste Daten werden auf Serversystemen in Deutschland bzw. in einem anderem EU- oder
		EWR-Mitgliedsstaat gespeichert. Eine Weitergabe der Daten in Drittländer findet nicht statt.
	</p>
	<p class="Body2">
		Für den Zweck der Arbeitszeiterfassung werden die Arbeitszeiten an das Einsatzunternehmen weitergegeben.
	</p>

	<p class="Body2">
		Im Übrigen gibt compleet personenbezogene Daten, die im Zusammenhang mit der Nutzung der App erhoben werden, nur
		dann Dritte weiter, soweit compleet rechtlich dazu verpflichtet ist oder die Weitergabe im Falle von Angriffen auf
		die technische Infrastruktur der App zur Rechts- oder Strafverfolgung erforderlich ist. Eine Weitergabe in anderen
		Fällen erfolgt grundsätzlich nicht.
	</p>
	<p class="Body2">
		Die bei der Nutzung der App anfallenden Daten werden ausschließlich auf Servern in Deutschland bzw. in einem anderem
		EU- oder EWR-Mitgliedsstaat verarbeitet.
	</p>
	<h3 class="Body2-Bold">7. Wie können Sie Ihre Einwilligungen widerrufen</h3>
	<p class="Body2">
		Ihnen steht das Recht zu, die in der App erteilten Einwilligungen gegenüber compleet jederzeit mit Wirkung für die
		Zukunft zu widerrufen. Die Rechtmäßigkeit der Verarbeitung bis zum Widerruf wird dadurch jedoch nicht berührt.
	</p>
	<p class="Body2">Der Nutzung folgender Funktionen können Sie widersprechen und diese jederzeit wieder aktivieren:</p>
	<ul>
		<li>Kameranutzung</li>
		<li>Benachrichtigungen</li>
	</ul>
	<p class="Body2">
		Die Einwilligung dieser App-Funktionen können Sie in den Einstellungen Ihres mobilen Endgeräts widerrufen.
	</p>
	<h3 class="Body2-Bold">8. Welche Rechte haben Sie?</h3>
	<p class="Body2">
		Im Hinblick auf die Verarbeitung personenbezogener Daten haben betroffene App-Nutzer gegen ihr Einsatzunternehmen
		als Verantwortlicher gemäß Art. 4 Nr. 7 DSGVO folgende Rechte:
	</p>
	<p class="Body2">
		Auf Anforderung hat das Einsatzunternehmen einem Betroffenen entsprechend den gesetzlichen Bestimmungen mitzuteilen,
		ob und welche personenbezogenen Daten über den betroffenen App-Nutzer gespeichert sind und ggf. zu welchem Zweck
		diese verarbeitet werden (Art. 15 DSGVO). Sofern der App-Nutzer eine Berichtigung (Art. 16 DSGVO) oder Löschung
		seiner personenbezogenen Daten (Art. 17 DSGVO) oder eine Einschränkung der Verarbeitung (Art. 18 DSGVO) oder eine
		Herausgabe der ihn betreffenden personenbezogenen Daten (Art. 20 DSGVO) wünscht, so kann er dies gegenüber dem
		Einsatzunternehmen geltend zu machen. Zur Inanspruchnahme des gesetzlichen Widerspruchsrechts gegen die Verarbeitung
		der personenbezogenen Daten gilt Art. 21 DSGVO entsprechend.
	</p>
	<p class="Body2">
		Unabhängig von anderen Rechten, kann jeder betroffene App-Nutzer bei einer zuständigen Aufsichtsbehörde eine
		Beschwerde einreichen, sofern er der Auffassung ist, die Verarbeitung der ihn betreffenden personenbezogenen Daten
		verstoße gegen die Regelungen der DSGVO (Art. 77 DSGVO).
	</p>
	<h3 class="Body2-Bold">9. Änderungen dieser Datenschutzerklärung</h3>
	<p class="Body2">
		Die compleet GmbH behält sich das Recht vor, diese Datenschutzerklärung von Zeit zu Zeit zu ändern und an neue
		gesetzliche Regelungen und den Stand der Technik anzupassen. Die jeweils aktuell gültige Version der
		Datenschutzerklärung können Sie in der App abrufen.
	</p>
	<p class="Body2">Version / Stand: v2.1 vom 31. März 2023</p>
</ion-content>
<ion-footer *ngIf="_userNeedToAccept">
	<ion-button
		[disabled]="!scrollDepthTriggered"
		expand="block"
		(click)="acceptedPolicy()"
		class="ion-margin-start ion-margin-end DefaultButtonL margin-bottom-1 margin-top-05">
		OK
	</ion-button>
</ion-footer>
