<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title class="header">
			{{_lang._dict.TimeSheet.Header}} {{_displayedWeek.weekNumber}}
			<ion-icon src="assets/icon/date.svg" (click)="selectWeek()"></ion-icon>
		</ion-title>
		<ion-title class="subHeader padding-bottom-0 padding-top-0">
			{{_weekStart.toFormat('dd.MM.yyyy')}} - {{_weekEnd.toFormat('dd.MM.yyyy')}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="offlinePrompt" *ngIf="_settings.offlineMode">{{_lang._dict.OfflinePrompt}}</div>
	<ion-list>
		<div class="header margin-bottom-1 margin-top-1">{{_lang._dict.TimeSheet.Summary}}</div>
		<div class="summaryBox">
			<div class="box">
				<div class="main">{{_weekWorkTimeHours }}h {{_weekWorkTimeMinutes | number: '2.0'}}min</div>
				<div class="sub">{{_lang._dict.TimeSheet.WorkTime}}</div>
			</div>
			<div class="box"></div>
			<div class="box">
				<div class="main">
					{{_weekPauseTimeHours }}h {{_weekPauseTimeMinutes | number: '2.0'}}min
				</div>
				<div class="sub">{{_lang._dict.TimeSheet.Pause}}</div>
			</div>
		</div>
		<div class="header margin-top-2">{{_lang._dict.TimeSheet.Detail}}</div>
		<ion-item
			*ngFor="let i of _weekDates; let j = index"
			class="list-menu-item"
			lines="inset"
			detail="true"
			detail-icon="assets/icon/chevron/right.svg"
			button="true"
			(click)="goToBooking(j)">
			<ion-label class="detail-label">
				<div class="dayDate">{{i.toFormat('dd. MMMM yyyy')}}</div>
				<div class="dayStandalone">{{i.toISO() | date: 'EEEE': '+0000': _lang.locale}}</div>
			</ion-label>
			<div slot="end" class="dayHours">
				{{_dayTimes[i.toISO()] ?? 0 | date:'H':'+0000'}}h {{_dayTimes[i.toISO()] ?? 0 |
				date:'mm':'+0000'}}min
			</div>
		</ion-item>
	</ion-list>
</ion-content>
