.list-menu-item {
	padding: 0rem;
	font-family: 'Europa-Regular';
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.01rem;
	line-height: 1.5rem;
	--detail-icon-color: var(--standard-clickable);
}

.dayDate,
.dayHours {
	display: block;
	font-size: 1.0625rem;
	line-height: 1.375rem;
	color: var(--text-neutral-20);
}

.dayStandalone {
	display: block;
	width: 15rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-neutral-10);
}

.detail-label {
	margin-top: 0rem;
	margin-bottom: 0rem;
	padding: 1rem 0rem;
}
