<ion-header class="ion-no-border">
	<ion-toolbar id="languageChange-Toolbar">
		<ion-back-button
			defaultHref="/app/tabs/settings"
			text=""
			slot="start"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
		<ion-button slot="end" fill="clear" style="height: auto" (click)="save()">
			{{lang._dict.Settings.SecurityPage.PinPage.Save}}
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-title class="header margin-bottom-1">{{lang._dict.Settings.MasterData.Header}}</ion-title>
		<ion-list-header class="H4 headerPosition">{{lang._dict.Settings.MasterData.UserData}}</ion-list-header>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.Surname}}</ion-label>
			<ion-input
				type="text"
				class="input-field Input1 disabledText"
				[disabled]="true"
				[(ngModel)]="employee.firstname"></ion-input>
		</ion-item>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.Name}}</ion-label>
			<ion-input
				type="text"
				class="input-field Input1 disabledText"
				[disabled]="true"
				[(ngModel)]="employee.lastname"></ion-input>
		</ion-item>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.EMail}}</ion-label>
			<ion-input
				type="email"
				class="input-field Input1 disabledText"
				[disabled]="true"
				[(ngModel)]="employee.username"></ion-input>
		</ion-item>
		<ion-list-header class="H4 headerPosition margin-top-2">{{lang._dict.Settings.MasterData.Address}}</ion-list-header>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.Street}}</ion-label>
			<ion-input type="text" class="input-field Input1" [(ngModel)]="street"></ion-input>
		</ion-item>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.HouseNumber}}</ion-label>
			<ion-input type="text" class="input-field Input1" [(ngModel)]="houseNumber"></ion-input>
		</ion-item>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.Additional}}</ion-label>
			<ion-input type="text" class="input-field Input1" [(ngModel)]="employee.adressTwo"></ion-input>
		</ion-item>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.Postcode}}</ion-label>
			<ion-input type="number" class="input-field Input1" [(ngModel)]="employee.plz"></ion-input>
		</ion-item>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.City}}</ion-label>
			<ion-input type="text" class="input-field Input1" [(ngModel)]="employee.city"></ion-input>
		</ion-item>
		<ion-item lines="none">
			<ion-label position="stacked" class="Input1">{{lang._dict.Settings.MasterData.Country}}</ion-label>
			<ion-select class="input-field Input1" id="countrySelect" value="{{employee.country}}">
				<ion-select-option value="50">{{lang._dict.Settings.MasterData.LanguageOptions.Germany}}</ion-select-option>
				<ion-select-option value="220">{{lang._dict.Settings.MasterData.LanguageOptions.Austria}}</ion-select-option>
				<ion-select-option value="222">
					{{lang._dict.Settings.MasterData.LanguageOptions.UnitedKingdom}}
				</ion-select-option>
				<ion-select-option value="203">{{lang._dict.Settings.MasterData.LanguageOptions.USA}}</ion-select-option>
				<ion-select-option value="66">{{lang._dict.Settings.MasterData.LanguageOptions.France}}</ion-select-option>
				<ion-select-option value="96">{{lang._dict.Settings.MasterData.LanguageOptions.Italy}}</ion-select-option>
				<ion-select-option value="161">{{lang._dict.Settings.MasterData.LanguageOptions.Poland}}</ion-select-option>
				<ion-select-option value="60">{{lang._dict.Settings.MasterData.LanguageOptions.Spain}}</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-list-header class="H4 headerPosition margin-top-2">
			{{lang._dict.Settings.MasterData.Accessibility}}
		</ion-list-header>
		<ion-list-header class="H5 headerPosition-1">{{lang._dict.Settings.MasterData.Landline}}</ion-list-header>
		<div class="phoneInput">
			<div class="phoneInput-first">
				<div class="Input1 phoneInput-label">{{lang._dict.Settings.MasterData.Country}}</div>
				<ion-select class="phoneInput-selection Input1" id="phoneSelect" value="{{employee.landlineCountry}}">
					<ion-select-option value="1">+1</ion-select-option>
					<ion-select-option value="7">+7</ion-select-option>
					<ion-select-option value="20">+20</ion-select-option>
					<ion-select-option value="27">+27</ion-select-option>
					<ion-select-option value="30">+30</ion-select-option>
					<ion-select-option value="31">+31</ion-select-option>
					<ion-select-option value="32">+32</ion-select-option>
					<ion-select-option value="33">+33</ion-select-option>
					<ion-select-option value="34">+34</ion-select-option>
					<ion-select-option value="36">+36</ion-select-option>
					<ion-select-option value="39">+39</ion-select-option>
					<ion-select-option value="40">+40</ion-select-option>
					<ion-select-option value="41">+41</ion-select-option>
					<ion-select-option value="43">+43</ion-select-option>
					<ion-select-option value="44">+44</ion-select-option>
					<ion-select-option value="45">+45</ion-select-option>
					<ion-select-option value="46">+46</ion-select-option>
					<ion-select-option value="47">+47</ion-select-option>
					<ion-select-option value="48">+48</ion-select-option>
					<ion-select-option value="49">+49</ion-select-option>
					<ion-select-option value="51">+51</ion-select-option>
					<ion-select-option value="52">+52</ion-select-option>
					<ion-select-option value="53">+53</ion-select-option>
					<ion-select-option value="54">+54</ion-select-option>
					<ion-select-option value="55">+55</ion-select-option>
					<ion-select-option value="56">+56</ion-select-option>
					<ion-select-option value="57">+57</ion-select-option>
					<ion-select-option value="58">+58</ion-select-option>
					<ion-select-option value="60">+60</ion-select-option>
					<ion-select-option value="61">+61</ion-select-option>
					<ion-select-option value="62">+62</ion-select-option>
					<ion-select-option value="63">+63</ion-select-option>
					<ion-select-option value="64">+64</ion-select-option>
					<ion-select-option value="65">+65</ion-select-option>
					<ion-select-option value="66">+66</ion-select-option>
					<ion-select-option value="81">+81</ion-select-option>
					<ion-select-option value="82">+82</ion-select-option>
					<ion-select-option value="84">+84</ion-select-option>
					<ion-select-option value="86">+86</ion-select-option>
					<ion-select-option value="90">+90</ion-select-option>
					<ion-select-option value="91">+91</ion-select-option>
					<ion-select-option value="92">+92</ion-select-option>
					<ion-select-option value="93">+93</ion-select-option>
					<ion-select-option value="94">+94</ion-select-option>
					<ion-select-option value="95">+95</ion-select-option>
					<ion-select-option value="98">+98</ion-select-option>
					<ion-select-option value="212">+212</ion-select-option>
					<ion-select-option value="213">+213</ion-select-option>
					<ion-select-option value="216">+216</ion-select-option>
					<ion-select-option value="218">+218</ion-select-option>
					<ion-select-option value="220">+220</ion-select-option>
					<ion-select-option value="221">+221</ion-select-option>
					<ion-select-option value="222">+222</ion-select-option>
					<ion-select-option value="223">+223</ion-select-option>
					<ion-select-option value="224">+224</ion-select-option>
					<ion-select-option value="225">+225</ion-select-option>
					<ion-select-option value="226">+226</ion-select-option>
					<ion-select-option value="227">+227</ion-select-option>
					<ion-select-option value="228">+228</ion-select-option>
					<ion-select-option value="229">+229</ion-select-option>
					<ion-select-option value="230">+230</ion-select-option>
					<ion-select-option value="231">+231</ion-select-option>
					<ion-select-option value="232">+232</ion-select-option>
					<ion-select-option value="233">+233</ion-select-option>
					<ion-select-option value="234">+234</ion-select-option>
					<ion-select-option value="235">+235</ion-select-option>
					<ion-select-option value="236">+236</ion-select-option>
					<ion-select-option value="237">+237</ion-select-option>
					<ion-select-option value="238">+238</ion-select-option>
					<ion-select-option value="239">+239</ion-select-option>
					<ion-select-option value="240">+240</ion-select-option>
					<ion-select-option value="241">+241</ion-select-option>
					<ion-select-option value="242">+242</ion-select-option>
					<ion-select-option value="243">+243</ion-select-option>
					<ion-select-option value="244">+244</ion-select-option>
					<ion-select-option value="245">+245</ion-select-option>
					<ion-select-option value="246">+246</ion-select-option>
					<ion-select-option value="247">+247</ion-select-option>
					<ion-select-option value="248">+248</ion-select-option>
					<ion-select-option value="249">+249</ion-select-option>
					<ion-select-option value="250">+250</ion-select-option>
					<ion-select-option value="251">+251</ion-select-option>
					<ion-select-option value="252">+252</ion-select-option>
					<ion-select-option value="253">+253</ion-select-option>
					<ion-select-option value="254">+254</ion-select-option>
					<ion-select-option value="255">+255</ion-select-option>
					<ion-select-option value="256">+256</ion-select-option>
					<ion-select-option value="257">+257</ion-select-option>
					<ion-select-option value="258">+258</ion-select-option>
					<ion-select-option value="260">+260</ion-select-option>
					<ion-select-option value="261">+261</ion-select-option>
					<ion-select-option value="262">+262</ion-select-option>
					<ion-select-option value="263">+263</ion-select-option>
					<ion-select-option value="264">+264</ion-select-option>
					<ion-select-option value="265">+265</ion-select-option>
					<ion-select-option value="266">+266</ion-select-option>
					<ion-select-option value="267">+267</ion-select-option>
					<ion-select-option value="268">+268</ion-select-option>
					<ion-select-option value="269">+269</ion-select-option>
					<ion-select-option value="284">+284</ion-select-option>
					<ion-select-option value="290">+290</ion-select-option>
					<ion-select-option value="291">+291</ion-select-option>
					<ion-select-option value="297">+297</ion-select-option>
					<ion-select-option value="298">+298</ion-select-option>
					<ion-select-option value="299">+299</ion-select-option>
					<ion-select-option value="345">+345</ion-select-option>
					<ion-select-option value="350">+350</ion-select-option>
					<ion-select-option value="351">+351</ion-select-option>
					<ion-select-option value="352">+352</ion-select-option>
					<ion-select-option value="353">+353</ion-select-option>
					<ion-select-option value="354">+354</ion-select-option>
					<ion-select-option value="355">+355</ion-select-option>
					<ion-select-option value="356">+356</ion-select-option>
					<ion-select-option value="357">+357</ion-select-option>
					<ion-select-option value="358">+358</ion-select-option>
					<ion-select-option value="359">+359</ion-select-option>
					<ion-select-option value="370">+370</ion-select-option>
					<ion-select-option value="371">+371</ion-select-option>
					<ion-select-option value="372">+372</ion-select-option>
					<ion-select-option value="373">+373</ion-select-option>
					<ion-select-option value="374">+374</ion-select-option>
					<ion-select-option value="375">+375</ion-select-option>
					<ion-select-option value="376">+376</ion-select-option>
					<ion-select-option value="378">+378</ion-select-option>
					<ion-select-option value="380">+380</ion-select-option>
					<ion-select-option value="381">+381</ion-select-option>
					<ion-select-option value="385">+385</ion-select-option>
					<ion-select-option value="386">+386</ion-select-option>
					<ion-select-option value="387">+387</ion-select-option>
					<ion-select-option value="389">+389</ion-select-option>
					<ion-select-option value="420">+420</ion-select-option>
					<ion-select-option value="421">+421</ion-select-option>
					<ion-select-option value="423">+423</ion-select-option>
					<ion-select-option value="473">+473</ion-select-option>
					<ion-select-option value="500">+500</ion-select-option>
					<ion-select-option value="501">+501</ion-select-option>
					<ion-select-option value="502">+502</ion-select-option>
					<ion-select-option value="503">+503</ion-select-option>
					<ion-select-option value="504">+504</ion-select-option>
					<ion-select-option value="505">+505</ion-select-option>
					<ion-select-option value="506">+506</ion-select-option>
					<ion-select-option value="507">+507</ion-select-option>
					<ion-select-option value="508">+508</ion-select-option>
					<ion-select-option value="509">+509</ion-select-option>
					<ion-select-option value="591">+591</ion-select-option>
					<ion-select-option value="592">+592</ion-select-option>
					<ion-select-option value="593">+593</ion-select-option>
					<ion-select-option value="594">+594</ion-select-option>
					<ion-select-option value="595">+595</ion-select-option>
					<ion-select-option value="596">+596</ion-select-option>
					<ion-select-option value="597">+597</ion-select-option>
					<ion-select-option value="598">+598</ion-select-option>
					<ion-select-option value="599">+599</ion-select-option>
					<ion-select-option value="670">+670</ion-select-option>
					<ion-select-option value="671">+671</ion-select-option>
					<ion-select-option value="672">+672</ion-select-option>
					<ion-select-option value="673">+673</ion-select-option>
					<ion-select-option value="674">+674</ion-select-option>
					<ion-select-option value="675">+675</ion-select-option>
					<ion-select-option value="676">+676</ion-select-option>
					<ion-select-option value="677">+677</ion-select-option>
					<ion-select-option value="678">+678</ion-select-option>
					<ion-select-option value="679">+679</ion-select-option>
					<ion-select-option value="680">+680</ion-select-option>
					<ion-select-option value="681">+681</ion-select-option>
					<ion-select-option value="682">+682</ion-select-option>
					<ion-select-option value="683">+683</ion-select-option>
					<ion-select-option value="684">+684</ion-select-option>
					<ion-select-option value="685">+685</ion-select-option>
					<ion-select-option value="686">+686</ion-select-option>
					<ion-select-option value="687">+687</ion-select-option>
					<ion-select-option value="688">+688</ion-select-option>
					<ion-select-option value="689">+689</ion-select-option>
					<ion-select-option value="690">+690</ion-select-option>
					<ion-select-option value="691">+691</ion-select-option>
					<ion-select-option value="692">+692</ion-select-option>
					<ion-select-option value="767">+767</ion-select-option>
					<ion-select-option value="809">+809</ion-select-option>
					<ion-select-option value="850">+850</ion-select-option>
					<ion-select-option value="852">+852</ion-select-option>
					<ion-select-option value="853">+853</ion-select-option>
					<ion-select-option value="855">+855</ion-select-option>
					<ion-select-option value="856">+856</ion-select-option>
					<ion-select-option value="869">+869</ion-select-option>
					<ion-select-option value="876">+876</ion-select-option>
					<ion-select-option value="880">+880</ion-select-option>
					<ion-select-option value="886">+886</ion-select-option>
					<ion-select-option value="960">+960</ion-select-option>
					<ion-select-option value="961">+961</ion-select-option>
					<ion-select-option value="962">+962</ion-select-option>
					<ion-select-option value="963">+963</ion-select-option>
					<ion-select-option value="964">+964</ion-select-option>
					<ion-select-option value="965">+965</ion-select-option>
					<ion-select-option value="966">+966</ion-select-option>
					<ion-select-option value="967">+967</ion-select-option>
					<ion-select-option value="968">+968</ion-select-option>
					<ion-select-option value="971">+971</ion-select-option>
					<ion-select-option value="972">+972</ion-select-option>
					<ion-select-option value="973">+973</ion-select-option>
					<ion-select-option value="974">+974</ion-select-option>
					<ion-select-option value="975">+975</ion-select-option>
					<ion-select-option value="976">+976</ion-select-option>
					<ion-select-option value="977">+977</ion-select-option>
					<ion-select-option value="993">+993</ion-select-option>
					<ion-select-option value="994">+994</ion-select-option>
					<ion-select-option value="995">+995</ion-select-option>
					<ion-select-option value="996">+996</ion-select-option>
				</ion-select>
			</div>
			<div class="phoneInput-last">
				<div class="Input1 phoneInput-label">{{lang._dict.Settings.MasterData.Number}}</div>
				<ion-input
					type="number"
					class="phoneInput-input Input1"
					inputmode="numeric"
					[(ngModel)]="employee.landlineNumber"></ion-input>
			</div>
		</div>
		<ion-list-header class="H5 headerPosition-1">{{lang._dict.Settings.MasterData.Mobile}}</ion-list-header>
		<div class="phoneInput">
			<div class="phoneInput-first">
				<div class="Input1 phoneInput-label">{{lang._dict.Settings.MasterData.Country}}</div>
				<ion-select class="phoneInput-selection Input1" id="mobileSelect" value="{{employee.mobilCountry}}">
					<ion-select-option value="1">+1</ion-select-option>
					<ion-select-option value="7">+7</ion-select-option>
					<ion-select-option value="20">+20</ion-select-option>
					<ion-select-option value="27">+27</ion-select-option>
					<ion-select-option value="30">+30</ion-select-option>
					<ion-select-option value="31">+31</ion-select-option>
					<ion-select-option value="32">+32</ion-select-option>
					<ion-select-option value="33">+33</ion-select-option>
					<ion-select-option value="34">+34</ion-select-option>
					<ion-select-option value="36">+36</ion-select-option>
					<ion-select-option value="39">+39</ion-select-option>
					<ion-select-option value="40">+40</ion-select-option>
					<ion-select-option value="41">+41</ion-select-option>
					<ion-select-option value="43">+43</ion-select-option>
					<ion-select-option value="44">+44</ion-select-option>
					<ion-select-option value="45">+45</ion-select-option>
					<ion-select-option value="46">+46</ion-select-option>
					<ion-select-option value="47">+47</ion-select-option>
					<ion-select-option value="48">+48</ion-select-option>
					<ion-select-option value="49">+49</ion-select-option>
					<ion-select-option value="51">+51</ion-select-option>
					<ion-select-option value="52">+52</ion-select-option>
					<ion-select-option value="53">+53</ion-select-option>
					<ion-select-option value="54">+54</ion-select-option>
					<ion-select-option value="55">+55</ion-select-option>
					<ion-select-option value="56">+56</ion-select-option>
					<ion-select-option value="57">+57</ion-select-option>
					<ion-select-option value="58">+58</ion-select-option>
					<ion-select-option value="60">+60</ion-select-option>
					<ion-select-option value="61">+61</ion-select-option>
					<ion-select-option value="62">+62</ion-select-option>
					<ion-select-option value="63">+63</ion-select-option>
					<ion-select-option value="64">+64</ion-select-option>
					<ion-select-option value="65">+65</ion-select-option>
					<ion-select-option value="66">+66</ion-select-option>
					<ion-select-option value="81">+81</ion-select-option>
					<ion-select-option value="82">+82</ion-select-option>
					<ion-select-option value="84">+84</ion-select-option>
					<ion-select-option value="86">+86</ion-select-option>
					<ion-select-option value="90">+90</ion-select-option>
					<ion-select-option value="91">+91</ion-select-option>
					<ion-select-option value="92">+92</ion-select-option>
					<ion-select-option value="93">+93</ion-select-option>
					<ion-select-option value="94">+94</ion-select-option>
					<ion-select-option value="95">+95</ion-select-option>
					<ion-select-option value="98">+98</ion-select-option>
					<ion-select-option value="212">+212</ion-select-option>
					<ion-select-option value="213">+213</ion-select-option>
					<ion-select-option value="216">+216</ion-select-option>
					<ion-select-option value="218">+218</ion-select-option>
					<ion-select-option value="220">+220</ion-select-option>
					<ion-select-option value="221">+221</ion-select-option>
					<ion-select-option value="222">+222</ion-select-option>
					<ion-select-option value="223">+223</ion-select-option>
					<ion-select-option value="224">+224</ion-select-option>
					<ion-select-option value="225">+225</ion-select-option>
					<ion-select-option value="226">+226</ion-select-option>
					<ion-select-option value="227">+227</ion-select-option>
					<ion-select-option value="228">+228</ion-select-option>
					<ion-select-option value="229">+229</ion-select-option>
					<ion-select-option value="230">+230</ion-select-option>
					<ion-select-option value="231">+231</ion-select-option>
					<ion-select-option value="232">+232</ion-select-option>
					<ion-select-option value="233">+233</ion-select-option>
					<ion-select-option value="234">+234</ion-select-option>
					<ion-select-option value="235">+235</ion-select-option>
					<ion-select-option value="236">+236</ion-select-option>
					<ion-select-option value="237">+237</ion-select-option>
					<ion-select-option value="238">+238</ion-select-option>
					<ion-select-option value="239">+239</ion-select-option>
					<ion-select-option value="240">+240</ion-select-option>
					<ion-select-option value="241">+241</ion-select-option>
					<ion-select-option value="242">+242</ion-select-option>
					<ion-select-option value="243">+243</ion-select-option>
					<ion-select-option value="244">+244</ion-select-option>
					<ion-select-option value="245">+245</ion-select-option>
					<ion-select-option value="246">+246</ion-select-option>
					<ion-select-option value="247">+247</ion-select-option>
					<ion-select-option value="248">+248</ion-select-option>
					<ion-select-option value="249">+249</ion-select-option>
					<ion-select-option value="250">+250</ion-select-option>
					<ion-select-option value="251">+251</ion-select-option>
					<ion-select-option value="252">+252</ion-select-option>
					<ion-select-option value="253">+253</ion-select-option>
					<ion-select-option value="254">+254</ion-select-option>
					<ion-select-option value="255">+255</ion-select-option>
					<ion-select-option value="256">+256</ion-select-option>
					<ion-select-option value="257">+257</ion-select-option>
					<ion-select-option value="258">+258</ion-select-option>
					<ion-select-option value="260">+260</ion-select-option>
					<ion-select-option value="261">+261</ion-select-option>
					<ion-select-option value="262">+262</ion-select-option>
					<ion-select-option value="263">+263</ion-select-option>
					<ion-select-option value="264">+264</ion-select-option>
					<ion-select-option value="265">+265</ion-select-option>
					<ion-select-option value="266">+266</ion-select-option>
					<ion-select-option value="267">+267</ion-select-option>
					<ion-select-option value="268">+268</ion-select-option>
					<ion-select-option value="269">+269</ion-select-option>
					<ion-select-option value="284">+284</ion-select-option>
					<ion-select-option value="290">+290</ion-select-option>
					<ion-select-option value="291">+291</ion-select-option>
					<ion-select-option value="297">+297</ion-select-option>
					<ion-select-option value="298">+298</ion-select-option>
					<ion-select-option value="299">+299</ion-select-option>
					<ion-select-option value="345">+345</ion-select-option>
					<ion-select-option value="350">+350</ion-select-option>
					<ion-select-option value="351">+351</ion-select-option>
					<ion-select-option value="352">+352</ion-select-option>
					<ion-select-option value="353">+353</ion-select-option>
					<ion-select-option value="354">+354</ion-select-option>
					<ion-select-option value="355">+355</ion-select-option>
					<ion-select-option value="356">+356</ion-select-option>
					<ion-select-option value="357">+357</ion-select-option>
					<ion-select-option value="358">+358</ion-select-option>
					<ion-select-option value="359">+359</ion-select-option>
					<ion-select-option value="370">+370</ion-select-option>
					<ion-select-option value="371">+371</ion-select-option>
					<ion-select-option value="372">+372</ion-select-option>
					<ion-select-option value="373">+373</ion-select-option>
					<ion-select-option value="374">+374</ion-select-option>
					<ion-select-option value="375">+375</ion-select-option>
					<ion-select-option value="376">+376</ion-select-option>
					<ion-select-option value="378">+378</ion-select-option>
					<ion-select-option value="380">+380</ion-select-option>
					<ion-select-option value="381">+381</ion-select-option>
					<ion-select-option value="385">+385</ion-select-option>
					<ion-select-option value="386">+386</ion-select-option>
					<ion-select-option value="387">+387</ion-select-option>
					<ion-select-option value="389">+389</ion-select-option>
					<ion-select-option value="420">+420</ion-select-option>
					<ion-select-option value="421">+421</ion-select-option>
					<ion-select-option value="423">+423</ion-select-option>
					<ion-select-option value="473">+473</ion-select-option>
					<ion-select-option value="500">+500</ion-select-option>
					<ion-select-option value="501">+501</ion-select-option>
					<ion-select-option value="502">+502</ion-select-option>
					<ion-select-option value="503">+503</ion-select-option>
					<ion-select-option value="504">+504</ion-select-option>
					<ion-select-option value="505">+505</ion-select-option>
					<ion-select-option value="506">+506</ion-select-option>
					<ion-select-option value="507">+507</ion-select-option>
					<ion-select-option value="508">+508</ion-select-option>
					<ion-select-option value="509">+509</ion-select-option>
					<ion-select-option value="591">+591</ion-select-option>
					<ion-select-option value="592">+592</ion-select-option>
					<ion-select-option value="593">+593</ion-select-option>
					<ion-select-option value="594">+594</ion-select-option>
					<ion-select-option value="595">+595</ion-select-option>
					<ion-select-option value="596">+596</ion-select-option>
					<ion-select-option value="597">+597</ion-select-option>
					<ion-select-option value="598">+598</ion-select-option>
					<ion-select-option value="599">+599</ion-select-option>
					<ion-select-option value="670">+670</ion-select-option>
					<ion-select-option value="671">+671</ion-select-option>
					<ion-select-option value="672">+672</ion-select-option>
					<ion-select-option value="673">+673</ion-select-option>
					<ion-select-option value="674">+674</ion-select-option>
					<ion-select-option value="675">+675</ion-select-option>
					<ion-select-option value="676">+676</ion-select-option>
					<ion-select-option value="677">+677</ion-select-option>
					<ion-select-option value="678">+678</ion-select-option>
					<ion-select-option value="679">+679</ion-select-option>
					<ion-select-option value="680">+680</ion-select-option>
					<ion-select-option value="681">+681</ion-select-option>
					<ion-select-option value="682">+682</ion-select-option>
					<ion-select-option value="683">+683</ion-select-option>
					<ion-select-option value="684">+684</ion-select-option>
					<ion-select-option value="685">+685</ion-select-option>
					<ion-select-option value="686">+686</ion-select-option>
					<ion-select-option value="687">+687</ion-select-option>
					<ion-select-option value="688">+688</ion-select-option>
					<ion-select-option value="689">+689</ion-select-option>
					<ion-select-option value="690">+690</ion-select-option>
					<ion-select-option value="691">+691</ion-select-option>
					<ion-select-option value="692">+692</ion-select-option>
					<ion-select-option value="767">+767</ion-select-option>
					<ion-select-option value="809">+809</ion-select-option>
					<ion-select-option value="850">+850</ion-select-option>
					<ion-select-option value="852">+852</ion-select-option>
					<ion-select-option value="853">+853</ion-select-option>
					<ion-select-option value="855">+855</ion-select-option>
					<ion-select-option value="856">+856</ion-select-option>
					<ion-select-option value="869">+869</ion-select-option>
					<ion-select-option value="876">+876</ion-select-option>
					<ion-select-option value="880">+880</ion-select-option>
					<ion-select-option value="886">+886</ion-select-option>
					<ion-select-option value="960">+960</ion-select-option>
					<ion-select-option value="961">+961</ion-select-option>
					<ion-select-option value="962">+962</ion-select-option>
					<ion-select-option value="963">+963</ion-select-option>
					<ion-select-option value="964">+964</ion-select-option>
					<ion-select-option value="965">+965</ion-select-option>
					<ion-select-option value="966">+966</ion-select-option>
					<ion-select-option value="967">+967</ion-select-option>
					<ion-select-option value="968">+968</ion-select-option>
					<ion-select-option value="971">+971</ion-select-option>
					<ion-select-option value="972">+972</ion-select-option>
					<ion-select-option value="973">+973</ion-select-option>
					<ion-select-option value="974">+974</ion-select-option>
					<ion-select-option value="975">+975</ion-select-option>
					<ion-select-option value="976">+976</ion-select-option>
					<ion-select-option value="977">+977</ion-select-option>
					<ion-select-option value="993">+993</ion-select-option>
					<ion-select-option value="994">+994</ion-select-option>
					<ion-select-option value="995">+995</ion-select-option>
					<ion-select-option value="996">+996</ion-select-option>
				</ion-select>
			</div>
			<div class="phoneInput-last">
				<div class="Input1 phoneInput-label">{{lang._dict.Settings.MasterData.Number}}</div>
				<ion-input
					type="number"
					class="phoneInput-input Input1"
					inputmode="numeric"
					[(ngModel)]="employee.mobilNumber"></ion-input>
			</div>
		</div>
	</ion-list>
</ion-content>
