.input-field {
	background-color: var(--ion-color-light-tint);
	border-radius: 0.5rem;
	height: 2.75rem;
	--padding-start: 0.5rem;
}

.headerPosition {
	padding-left: 1rem;
	margin-bottom: 1.5rem;
	min-height: min-content;
	&-1 {
		@extend .headerPosition;
		margin-bottom: 1rem;
	}
}

.phoneInput {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	display: flex;

	&-selection {
		@extend .input-field;
	}

	&-input {
		@extend .input-field;
	}

	&-label {
		margin-bottom: 0.5rem;
	}

	&-first {
		margin-right: 1rem;
		width: 6rem;
	}

	&-last {
		width: -webkit-fill-available;
	}
}

ion-label,
div,
ion-title,
ion-select,
ion-input,
ion-list-header,
ion-select-option {
	color: var(--text-neutral-20);
	--color: var(--text-neutral-20);
}

.disabledText {
	color: var(--text-disabled) !important;
}
