.status {
	display: flex;
	border-radius: 1.5rem;
	padding: 0.125rem 0.25rem;
	height: 1rem;
	text-align: center;
	justify-items: center;
	align-items: center;
	margin-left: 0.25rem;

	//Warning / Open Request
	&-open {
		@extend .status;
		color: var(--ion-color-warning-shade);
		background-color: var(--ion-color-warning);
	}
	//Success / Accepted Request
	&-accepted {
		@extend .status;
		color: var(--ion-color-success-shade);
		background-color: var(--ion-color-success);
	}
	//Danger / Denied Request
	&-denied {
		@extend .status;
		color: var(--ion-color-danger-shade);
		background-color: var(--ion-color-danger);
	}
}

.statusText {
	color: unset;
}

.withdrawButton {
	display: flex;
	color: var(--standard-clickable);
}

.darkGray {
	color: var(--text-neutral-20);
}

.lightGray {
	color: var(--text-neutral-10);
}
