<ion-header>
	<ion-toolbar>
		<ion-icon src="../../assets/icon/close.svg" (click)="DismissModal()" slot="start"></ion-icon>
		<ion-title>{{_lang._dict.HolidayAccount.Details.Header}}</ion-title>
	</ion-toolbar>
</ion-header>

<div class="inner-content">
	<ion-list>
		<ion-item lines="none">
			<ion-label class="Body1" slot="start">
				{{_lang._dict.HolidayAccount.Details.Status}}
			</ion-label>
			<ion-label slot="end">
				<div
					[ngClass]="{
							'status-open': _request.status == 0,
							'status-denied': _request.status == 3,
							'status-accepted': _request.status == 2
						}">
					<ion-icon
						src="assets/icon/check.svg"
						class="small"
						*ngIf="_request.status == 2"></ion-icon>
					<ion-icon
						src="assets/icon/close.svg"
						class="small red"
						*ngIf="_request.status == 3"></ion-icon>
					<span class="HelperText1 statusText">
						{{_lang._dict.HolidayAccount.RequestsStatus[_request.status]}}
					</span>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label class="Body1 lightGray" slot="start">
				{{_lang._dict.HolidayAccount.Details.Period}}
			</ion-label>
			<ion-label class="Body1 darkGray" slot="end">
				{{_request.firstDay | date: 'dd.MM.yyyy'}} - {{_request.lastDay | date: 'dd.MM.yyyy'}}
			</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label class="Body1 lightGray" slot="start">
				{{_lang._dict.HolidayAccount.Details.RequestedDays}}
			</ion-label>
			<ion-label class="Body1 darkGray" slot="end">{{_request.countOfHolidays}}</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label class="Body1 lightGray" slot="start">
				{{_lang._dict.HolidayAccount.Details.CreationDate}}
			</ion-label>
			<ion-label class="Body1 darkGray" slot="end">
				{{_request.requestedOn | date:'dd.MM.yyyy'}}
			</ion-label>
		</ion-item>
		<ion-item lines="none" *ngIf="_request.requestComment != null">
			<p class="Body1 lightGray">{{_request.requestComment}}</p>
		</ion-item>

		<ion-item lines="none">
			<div class="withdrawButton" (click)="withdrawRequest()">
				<ion-icon class="" src="assets/icon/arrow/right.svg"></ion-icon>
				<ion-label class="Link1 margin-left-05">
					{{_lang._dict.HolidayAccount.Details.Withdraw}}
				</ion-label>
			</div>
		</ion-item>
	</ion-list>
</div>
