<ion-header>
	<ion-toolbar>
		<ion-title>booking-details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item detail-icon="assets/icon/chevron/right.svg">
			<ion-select
				id="projectSelect"
				value="{{_selectedProject.id}}"
				(ionChange)="selectedProjectChanged($event)">
				<ion-select-option *ngIf="_selectedProject == null" value=""
					>{{_lang._dict.SelectProject}}
				</ion-select-option>
				<ion-select-option *ngFor="let project of _availableProjects" value="{{project.id}}">
					{{project.name}}
				</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item detail-icon="assets/icon/chevron/right.svg">
			<ion-select
				id="activitySelect"
				value="{{_selectedActivity.id}}"
				(ionChange)="selectedActivityChanged($event)">
				<ion-select-option *ngIf="_selectedActivity == null" value=""
					>{{_lang._dict.SelectActivity}}
				</ion-select-option>
				<ion-select-option
					*ngFor="let activity of _availableActivities"
					value="{{activity.id}}"
					(ionChange)="selectedActivityChanged($event)">
					{{activity.name}}
				</ion-select-option>
			</ion-select>
		</ion-item>
	</ion-list>

	<div id="Timestamps">
		<p>
			{{_selectedBooking.start.toLocaleString({hour: '2-digit', minute: '2-digit', hourCycle: 'h23'}
			)}} - {{_selectedBooking.end.toLocaleString({ hour: '2-digit', minute: '2-digit', hourCycle:
			'h23' })}}
		</p>
	</div>
	<ion-button (click)="CheckChanges()">check changes</ion-button>
	<ion-button (click)="SaveChanges()">Save Changes</ion-button>
</ion-content>
