#restFromAnnual {
	color: var(--ion-color-success-shade);
}

#takenDays {
	color: var(--ion-color-danger-shade);
}

.list-item-innerpadding {
	--inner-padding-end: 0;
}

.list-menu-item {
	min-height: 2.5rem;
	--padding-start: 1rem;
}

.status {
	display: flex;
	border-radius: 1.5rem;
	padding: 0.125rem 0.25rem;
	height: 1rem;
	text-align: center;
	justify-items: center;
	align-items: center;
	margin-left: 0.25rem;

	//Warning / Open Request
	&-open {
		@extend .status;
		color: var(--ion-color-warning-shade);
		background-color: var(--ion-color-warning);
	}
	//Success / Accepted Request
	&-accepted {
		@extend .status;
		color: var(--ion-color-success-shade);
		background-color: var(--ion-color-success);
	}
	//Danger / Denied Request
	&-denied {
		@extend .status;
		color: var(--ion-color-danger-shade);
		background-color: var(--ion-color-danger);
	}
}

.requestsHeader {
	color: var(--text-neutral-20);
}

.statusText {
	color: unset;
}

.topLayer {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.bottomLayer {
	color: var(--text-neutral-10);
	margin-bottom: 1rem;
	margin-top: 0.125rem;
}

.daysCount {
	color: var(--text-neutral-20);
}

.requestItem {
	--detail-icon-color: var(--standard-clickable);
}

ion-list-header {
	padding-left: 1rem;
}

#RequestsListHeader {
	margin-bottom: 1rem;
}

.disabled {
	color: var(--ion-color-medium-tint);
	fill: var(--ion-color-medium-tint);
}

#noRequests {
	background: var(--info-bg);
	color: var(--text-neutral-20);
}

#offlineDisplay {
	background: var(--ion-color-danger);
	color: var(--ion-color-danger-shade);
}

.Message {
	padding: 0.75rem 1rem;
	border-radius: 1rem;
	display: flex;
}

#newRequestLabel {
	color: var(--text-disabled);
	margin-top: 0.5rem;
}
