<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-back-button
			slot="start"
			text=""
			defaultHref="/app/tabs/main-menu"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<div class="stickyHeader">
			<ion-title class="header">
				{{_lang._dict.HolidayAccount.Header}}
				<ion-icon src="assets/icon/date.svg" (click)="selectPeriod()"></ion-icon>
			</ion-title>
			<ion-title class="subHeader">{{_currentYear}}</ion-title>
		</div>
		<div class="offlinePrompt" *ngIf="_settings.offlineMode">{{_lang._dict.OfflinePrompt}}</div>
		<ion-item lines="none" button="false" class="Body1 list-item-innerpadding list-menu-item">
			<div>{{_lang._dict.HolidayAccount.Claim}} {{_currentYear}}</div>
			<div slot="end" class="margin-right-0">
				{{_holiday.annualContingent | number : '1.0-2' : 'de'}} {{_lang._dict.HolidayAccount.Unit}}
			</div>
		</ion-item>
		<ion-item lines="none" button="false" class="Body1 list-item-innerpadding list-menu-item">
			<div>{{_lang._dict.HolidayAccount.RestFromAnnualBefore}} {{_previousYear}}</div>
			<div slot="end" id="restFromAnnual" class="margin-right-0">
				+ {{_holiday.remainingDays | number : '1.0-2' : 'de'}} {{_lang._dict.HolidayAccount.Unit}}
			</div>
		</ion-item>
		<ion-item lines="none" button="false" class="Body1 list-item-innerpadding list-menu-item">
			<div>{{_lang._dict.HolidayAccount.Taken}}</div>
			<div slot="end" id="takenDays" class="margin-right-0">
				- {{_holiday.takenDays + _holiday.specialEntriesAmount | number : '1.0-2' : 'de'}}
				{{_lang._dict.HolidayAccount.Unit}}
			</div>
		</ion-item>
		<ion-item lines="inset" button="false" class="Body1 list-item-innerpadding list-menu-item">
			<div>{{_lang._dict.HolidayAccount.Planned}}</div>
			<div slot="end" class="margin-right-0">
				{{_holiday.scheduledDays | number : '1.0-2' : 'de'}} {{_lang._dict.HolidayAccount.Unit}}
			</div>
		</ion-item>
		<ion-item lines="none" button="false" class="Body1-Bold list-item-innerpadding list-menu-item">
			<div>{{_lang._dict.HolidayAccount.Available}}</div>
			<div slot="end" class="margin-right-0">
				{{_holiday.availableDays | number : '1.0-2' : 'de'}} {{_lang._dict.HolidayAccount.Unit}}
			</div>
		</ion-item>

		<!--   Anträge   -->
		<ion-list-header class="H4 list-item-innerpadding" id="RequestsListHeader">
			{{_lang._dict.HolidayAccount.RequestsHeader}}
			<ion-icon
				src="assets/icon/document-add.svg"
				class="margin-left-05"
				[ngClass]="{
					'disabled': _settings.offlineMode
				}"
				(click)="newRequest()"></ion-icon>
		</ion-list-header>
		<div
			class="Message margin-left-1 margin-right-1"
			id="offlineDisplay"
			*ngIf="_settings.offlineMode"
			lines="none">
			<div class="margin-right-05">
				<ion-icon src="assets/icon/warning.svg" class="medium red"> </ion-icon>
			</div>
			<div>{{_lang._dict.HolidayAccount.OfflineMode}}</div>
		</div>
		<div
			class="Message margin-left-1 margin-right-1"
			id="noRequests"
			*ngIf="_allHolidayRequests.length < 1 && !_settings.offlineMode"
			lines="none">
			<div class="margin-right-05">
				<ion-icon src="assets/icon/info.svg" class="medium black"> </ion-icon>
			</div>
			<div class="Body2">
				<div>{{_lang._dict.HolidayAccount.NoRequests}}</div>
				<div id="newRequestLabel" class="Link2-Underlined" (click)="newRequest()">
					{{_lang._dict.HolidayAccount.NewRequest}}
				</div>
			</div>
		</div>

		<!--   Bevorstehende Urlaubsanträge   -->
		<ion-list-header
			class="Body1-Bold list-item-innerpadding"
			*ngIf="_upcomingRequests.length > 0 && !_settings.offlineMode">
			{{_lang._dict.HolidayAccount.UpcomingHeader}}
		</ion-list-header>
		<ion-item
			*ngFor="let req of _upcomingRequests;let last = last"
			detail="false"
			class="list-item-innerpadding requestItem"
			lines="{{last ? 'none' : 'inset'}}"
			(click)="openRequest(req)">
			<div>
				<div class="topLayer">
					<span class="requestsHeader H5">{{_lang._dict.HolidayAccount.Request}}</span>
					<div
						[ngClass]="{
							'status-open': req.status == 0,
							'status-denied': req.status == 3,
							'status-accepted': req.status == 2
						}">
						<ion-icon src="assets/icon/check.svg" class="small" *ngIf="req.status == 2"></ion-icon>
						<ion-icon
							src="assets/icon/close.svg"
							class="small red"
							*ngIf="req.status == 3"></ion-icon>
						<span class="HelperText1 statusText">
							{{_lang._dict.HolidayAccount.RequestsStatus[req.status]}}
						</span>
					</div>
				</div>
				<div class="bottomLayer SubTitle2" *ngIf="req.countOfHolidays > 1">
					{{ req.firstDay ?? 0 | date: 'dd.MM.yyyy' }} - {{ req.lastDay | date: 'dd.MM.yyyy' }}
				</div>
				<div class="bottomLayer SubTitle2" *ngIf="req.countOfHolidays <= 1">
					{{ req.lastDay | date: 'dd.MM.yyyy' }}
				</div>
			</div>
			<ion-label slot="end" class="daysCount Body1">
				{{req.countOfHolidays | number : '1.0-2' : 'de'}} {{req.countOfHolidays > 1 ?
				_lang._dict.HolidayAccount.Unit : _lang._dict.HolidayAccount.SingleUnit}}
			</ion-label>
		</ion-item>

		<!--   zurückliegende Urlaubsanträge   -->
		<ion-list-header
			class="Body1-Bold list-item-innerpadding"
			*ngIf="_previousRequests.length > 0 && !_settings.offlineMode">
			{{_lang._dict.HolidayAccount.TakenHeader}}
		</ion-list-header>
		<ion-item
			*ngFor="let req of _previousRequests; let last = last"
			detail="false"
			class="list-item-innerpadding requestItem"
			lines="{{last ? 'none' : 'inset'}}"
			(click)="openRequest(req)">
			<div>
				<div class="topLayer">
					<span class="requestsHeader H5">{{_lang._dict.HolidayAccount.Request}}</span>
					<div
						[ngClass]="{
							'status-open': req.status == 0,
							'status-denied': req.status == 3,
							'status-accepted': req.status == 2
						}">
						<ion-icon src="assets/icon/check.svg" class="small" *ngIf="req.status == 2"></ion-icon>
						<ion-icon
							src="assets/icon/close.svg"
							class="small red"
							*ngIf="req.status == 3"></ion-icon>
						<span class="HelperText1 statusText">
							{{_lang._dict.HolidayAccount.RequestsStatus[req.status]}}
						</span>
					</div>
				</div>
				<div class="bottomLayer SubTitle2" *ngIf="req.countOfHolidays > 1">
					{{ req.period[0].start | date: 'dd.MM.yyyy' }} - {{ req.period[0].end | date: 'dd.MM.yyyy'
					}}
				</div>
				<div class="bottomLayer SubTitle2" *ngIf="req.countOfHolidays <= 1">
					{{ req.period[0].end | date: 'dd.MM.yyyy' }}
				</div>
			</div>
			<ion-label slot="end" class="daysCount Body1">
				{{req.countOfHolidays | number : '1.0-2' : 'de'}} {{req.countOfHolidays > 1 ?
				_lang._dict.HolidayAccount.Unit : _lang._dict.HolidayAccount.SingleUnit}}
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
