ion-toolbar {
	--background: white !important;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#pageHeader {
	--color: var(--text-neutral-20);
	font-family: 'Europa-Regular';
	font-weight: 400;
	font-size: 1.0625rem; // 17px
	line-height: 1.375rem; // 22px
	margin: 0;
	padding: 0;
}

.item-radio-checked {
	--background: var(--ion-color-secondary);
}

.list-menu-item {
	--min-height: 3.5rem;
	--inner-padding-end: 1rem;
	--border-color: var(--ion-color-medium);
}

.item-text {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--ion-color-dark);
}

ion-radio {
	--color: var(--text-neutral-20);
	--color-checked: var(--text-neutral-20);
}
