<ion-header>
	<ion-toolbar>
		<ion-title id="pageHeader" class="H5">
			{{_lang._dict.TimeSheet.SelectWeekPage.Header}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-radio-group [(ngModel)]="selectedWeek">
			<ion-item lines="none" class="list-menu-item" *ngFor="let w of _weeks">
				<ion-label class="item-text">
					{{_lang._dict.TimeSheet.SelectWeekPage.Week}} {{w.display}}
				</ion-label>
				<ion-radio slot="start" value="{{w.value}}" mode="md"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>
