@mixin header-text {
	font-size: 1.25rem;
	line-height: 1.5rem;
}
.headers {
	@include header-text;
	font-family: 'Europa-Regular';
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding: 0rem;
	padding-left: 1rem;
	height: 1.5rem;
	--background: transparent;
}

#page-header {
	font-size: 2.125rem;
	line-height: 2.5625rem;
	text-align: initial;
}

ion-label,
p,
ion-title {
	color: var(--text-neutral-20);
	font-family: 'Europa-Regular';
	font-style: normal;
	font-weight: 400;
	--background: transparent;
}

.sessionTimer {
	font-size: 4rem !important;
	font-weight: 700 !important;
	font-family: 'Europa-Bold';
	line-height: 120%;
	text-align: center;
	color: var(--standard-clickable);
	font-variant-numeric: tabular-nums;
}

ion-content {
	--padding-start: 1rem;
	--padding-end: 1rem;
	--padding-top: 2rem;
}

.Project {
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 34px;
	color: var(--text-neutral-20);
	width: 100%;
	text-align: center;

	@media (min-width: 375px) and (min-height: 800px) {
		margin-top: 5rem;
	}
}

.Activity {
	font-size: 1rem;
	font-weight: 400;
	line-height: 24px;
	color: var(--text-neutral-20);
	width: 100%;
	text-align: center;
}

.pauseButton {
	width: 6.5rem;
	height: 6.5rem;
	background: var(--ion-color-primary);
	border-radius: 4rem;
	text-align: center;
	/*	padding-top: 2.2rem;
	color: white; */
	font-family: 'Europa-Regular';
	font-weight: 400;
	font-size: 1.25rem;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;

	&-break {
		@extend .pauseButton;
		padding-top: 0.3rem;
	}
}

.pauseButton > p {
	line-height: 6.5rem;
	color: white;
	margin: 0 auto;
}

.pauseButton-break > p {
	color: white;
	line-height: 1.5rem;
	margin: 0 auto;
}

.bg {
	background: var(--ion-color-tertiary) !important;
	--background: var(--ion-color-tertiary) !important;

	&-break {
		@extend .bg;
		background: white !important;
		--background: white !important;
	}
}

.breakDisplay {
	margin-top: 0.5rem;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: var(--standard-clickable);
}

.showBookings {
	margin-top: 3rem;
	text-align: center;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 0.875rem;
	color: var(--standard-clickable);
	font-family: 'Open Sans';
}

.breakSpacer {
	width: 100%;
	height: 3rem;
}

.endSlider {
	width: 91.5%;
	height: 3rem;
	background: white;
	border-radius: 1.875rem;
	text-align: center;
	position: absolute;
	bottom: 4rem;
}

.end_sliderButton {
	width: 2.5rem;
	height: 2.5rem;
	background: var(--standard-clickable);
	position: relative;
	top: 0.25rem;
	left: 0.25rem;
	border-radius: 1.25rem;
	text-align: center;
	/*writing-mode: vertical-lr;*/
}
.sliderText {
	position: relative;
	bottom: 50%;
	font-size: 1rem !important;
	color: var(--standard-clickable);
	left: 7px;
}

.arrowImage {
	fill: white;
	width: 100%;
	height: 70%;
	position: relative;
	top: 0.35rem;
	margin-left: auto !important;
	margin-right: auto !important;
}

.datetime {
	margin-block-end: 0em;
	color: var(--text-neutral-10);
	margin-right: 1rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 20px;
}

.activityIcon {
	margin-left: 5px;
}

#pauseIcon {
	height: 1.5rem;
	width: 1.5rem;
}

#outerBlueCicle {
	background: var(--ion-color-primary);
	color: white;
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	text-align: center;
	margin: 3rem auto 0 auto;
	display: flex;
	align-items: center;
}

#innerWhiteCycle {
	background-color: white;
	color: black;
	width: 6.75rem;
	height: 6.75rem;
	border-radius: 50%;
	margin: 0 auto;
	align-items: center;
	display: flex;
}

.trackerRunningAlert.alertPrompt-warning {
	margin-top: 0rem;
}

.trackingSummary {
	display: flex;
	margin: 2rem 5rem;
	flex-direction: column;

	&-worked {
		display: flex;

		&-label {
			width: -webkit-fill-available;
		}
		&-text {
			white-space: nowrap;
		}
	}
	&-breaks {
		display: flex;

		&-label {
			width: -webkit-fill-available;
		}
		&-text {
			white-space: nowrap;
		}
	}
}
