<ion-header
	class="ion-no-border"
	[ngClass]="{
    'bg': !_tracker.isPause,
    'bg-break': _tracker.isPause
}">
	<ion-toolbar class="background-transparent">
		<ion-title id="page-header" class="ion-padding-start ion-padding-end">
			{{_lang._dict.TimeTracking.Header}}
		</ion-title>
		<p class="datetime" slot="end">{{getDate()}}</p>
	</ion-toolbar>
</ion-header>

<ion-content
	scroll-y="false"
	[ngClass]="{
    'bg': !_tracker.isPause,
    'bg-break': _tracker.isPause
}">
	<div class="trackerRunningAlert"></div>
	<div class="breakSpacer" *ngIf="_tracker.isPause == true"></div>
	<div class="Project" *ngIf="_tracker.isTracking == true && this.projectsAreAvailable">
		<ion-label>
			{{_selectedProject}}
			<ion-icon src="../../assets/icon/edit.svg" (click)="assignProject()"></ion-icon>
		</ion-label>
	</div>
	<div
		class="Activity"
		*ngIf="_tracker.isTracking == true && this.projectsAreAvailable && (_tracker.activityId != null || activitiesAreAvailable)">
		<ion-label *ngIf="_selectedActivity == null || _selectedActivity == ''">
			{{_lang._dict.TimeTracking.ChooseActivity}}
			<ion-icon class="activityIcon" src="../../assets/icon/edit.svg" (click)="changeSelectedActivity()"></ion-icon>
		</ion-label>
		<ion-label *ngIf="_selectedActivity != null && _selectedActivity != ''">
			{{_selectedActivity}}
			<ion-icon class="activityIcon" src="../../assets/icon/edit.svg" (click)="changeSelectedActivity()"></ion-icon>
		</ion-label>
	</div>
	<div class="sessionTimer">{{ _tracker.duration | date: "HH:mm:ss" : '+0000'}}</div>
	<div class="breakDisplay" *ngIf="_tracker.isTracking == true">
		{{totalBreakTime() | number:'1.0-0'}} {{_lang._dict.TimeTracking.Running.BreakMinutes}}
	</div>
	<div class="breakDisplay" *ngIf="_tracker.isPause == true">{{_lang._dict.TimeTracking.Running.InBreak}}</div>

	<div id="outerBlueCicle">
		<div id="innerWhiteCycle">
			<div class="pauseButton" (click)="stopTracking(true)" *ngIf="!_tracker.isPause">
				<p>{{_lang._dict.TimeTracking.Break}}</p>
			</div>
			<div class="pauseButton-break" (click)="resumeTimer()" *ngIf="_tracker.isPause">
				<p>{{_lang._dict.TimeTracking.Running.StopBreak}}</p>
			</div>
		</div>
	</div>
	<div class="showBookings" (click)="goToBooking()">{{_lang._dict.TimeTracking.DayHistoryHeader}}</div>

	<div class="trackingSummary">
		<div class="trackingSummary-worked">
			<ion-label class="H5 trackingSummary-worked-label">{{_lang._dict.TimeTracking.Running.WorkedToday}}</ion-label>
			<ion-label class="H5 trackingSummary-worked-text">{{totalWorkTime() | number:'1.0-0'}} min</ion-label>
		</div>
		<div class="trackingSummary-breaks">
			<ion-label class="H5 trackingSummary-breaks-label">{{_lang._dict.TimeTracking.Running.TotalBreaks}}</ion-label>
			<ion-label class="H5 trackingSummary-breaks-text">{{totalBreakTime() | number:'1.0-0'}} min</ion-label>
		</div>
	</div>

	<div class="endSlider" *ngIf="!_tracker.isPause">
		<div class="end_sliderButton">
			<!--<img style="fill: white;" src="../../assets/icon/arrow/right.svg">-->
			<ion-icon class="arrowImage" src="../../assets/icon/arrow/right.svg" alt=""></ion-icon>
		</div>
		<div class="sliderText DefaultButtonM">{{_lang._dict.TimeTracking.SlideToPause}}</div>
	</div>
</ion-content>
