<ion-header>
	<ion-toolbar>
		<ion-icon src="../../assets/icon/close.svg" (click)="DismissModal()" slot="start"></ion-icon>
		<ion-title class="textColorNeutral20">{{_lang._dict.TimeSheet.EditStamp.Header}}</ion-title>
	</ion-toolbar>
</ion-header>

<div class="inner-content">
	<ion-list *ngIf="_stamp != null">
		<ion-item
			detail="true"
			lines="none"
			(click)="editProject()"
			class="selectionItems"
			detail-icon="assets/icon/chevron/right.svg">
			<ion-label class="Body1 inputText">{{_lang._dict.TimeSheet.EditStamp.Project}}</ion-label>
			<ion-label class="Body1 textColorNeutral20" slot="end">{{_stamp.projectName}}</ion-label>
		</ion-item>
		<ion-item
			detail="true"
			lines="none"
			(click)="editActivity()"
			class="selectionItems"
			detail-icon="assets/icon/chevron/right.svg">
			<ion-label class="Body1 inputText">{{_lang._dict.TimeSheet.EditStamp.Activity}}</ion-label>
			<ion-label class="Body1 textColorNeutral20" slot="end">{{_stamp.activityName}}</ion-label>
		</ion-item>
		<ion-item detail="false" lines="none" *ngIf="isNewStamp || timeIsMissing">
			<ion-label class="Body1 inputText">{{_lang._dict.TimeSheet.EditStamp.Start}}</ion-label>
			<div
				class="Input1 input-field"
				slot="end"
				id="start-time"
				[ngClass]="{'missing': startIsMissing, '': !startIsMissing}"
				(click)="startIsMissing ? editTimestamp($event, true): null">
				{{_stamp.start == null ? '' :_stamp.start.toFormat('HH:mm')}}
			</div>
		</ion-item>
		<!--
		<ion-popover trigger="start-time" side="top" alignment="end" size="auto" triggerAction="click">
			<ng-template>
				<ion-content class="ion-padding">
					<ion-datetime
					presentation="time"
					locale="{{_lang.locale}}"
					[(ngModel)]="startTime"></ion-datetime>
				</ion-content>
			</ng-template>
		</ion-popover>
		-->
		<ion-item detail="false" lines="none" *ngIf="isNewStamp || timeIsMissing">
			<ion-label class="Body1 inputText">{{_lang._dict.TimeSheet.EditStamp.End}}</ion-label>
			<div
				class="Input1 input-field"
				slot="end"
				id="end-time"
				[ngClass]="{'missing': endIsMissing, '': !endIsMissing}"
				(click)="endIsMissing ? editTimestamp($event, false) : null">
				{{_stamp.end == null ? '' : _stamp.end.toFormat('HH:mm')}}
			</div>
		</ion-item>
		<!--
		<ion-popover trigger="end-time" side="top" alignment="end" size="auto" triggerAction="click">
			<ng-template>
				<ion-content class="ion-padding">
					<ion-datetime
						presentation="time"
						locale="{{_lang.locale}}"
						[(ngModel)]="endTime"></ion-datetime>
				</ion-content>
			</ng-template>
		</ion-popover>
		-->
		<ion-item detail="false" lines="none" *ngIf="!_noteIsAdded">
			<ion-icon src="assets/icon/plus.svg" class="medium margin-right-05"></ion-icon>
			<ion-label (click)="addnote()" class="Link1">{{_lang._dict.TimeSheet.EditStamp.AddDescription}}</ion-label>
		</ion-item>
		<ion-item *ngIf="_noteIsAdded" id="noteItem" lines="none" detail="false">
			<ion-textarea
				id="noteText"
				placeholder="{{_lang._dict.TimeSheet.EditStamp.notePlaceholder}}"
				class="Body1"
				autoGrow="true"
				(ionChange)="noteChanged($event)"
				[value]="_stamp.description"
				spellcheck="true"></ion-textarea>
		</ion-item>
		<ion-item detail="false" lines="none" *ngIf="_noteIsAdded">
			<div id="addnote">
				<ion-icon src="assets/icon/minus.svg" class="medium margin-right-05"></ion-icon>
				<ion-label (click)="addnote(true)" class="Link1">
					{{_lang._dict.TimeSheet.EditStamp.RemoveDescription}}
				</ion-label>
			</div>
			<div id="savenote">
				<ion-icon src="assets/icon/check.svg" class="medium margin-right-05"></ion-icon>
				<ion-label (click)="saveNote()" class="Link1">{{_lang._dict.TimeSheet.EditStamp.SaveDescription}}</ion-label>
			</div>
		</ion-item>
		<ion-item detail="false" lines="none" *ngIf="!isNewStamp">
			<ion-icon src="assets/icon/delete.svg" class="red medium margin-right-05"></ion-icon>
			<ion-label (click)="deleteStamp()" class="Link1 deleteStamp">
				{{_lang._dict.TimeSheet.EditStamp.DeleteStamp}}
			</ion-label>
		</ion-item>
		<div id="BorderItem"></div>
		<ion-button expand="block" id="saveButton" [disabled]="!isSaveButtonEnabled" (click)="saveChanges()">
			{{_lang._dict.TimeSheet.EditStamp.SaveButton}}
		</ion-button>
	</ion-list>
</div>
