#noteText {
	--background: var(--ion-color-light-tint);
	border-radius: 0.5rem;
	--color: var(--text-neutral-20);
	padding: 0.75rem;
	--padding-top: 0;
	--padding-end: 0;
	--padding-start: 0;
	--padding-bottom: 0;
}

textarea {
	padding: 0;
}

#noteItem {
	padding: 1rem 0rem;
}

#saveButton {
	margin: 1rem;
}

#BorderItem {
	height: 0;
	width: 100%;
	border-bottom: 1px solid var(--ion-color-medium);
}

.selectionItems {
	height: 3.5rem;
}

.Link1 {
	--color: var(--standard-clickable);
}

.textColorNeutral20 {
	--color: var(--text-neutral-20);
}

.inputText {
	--color: var(--text-neutral-10);
}

ion-input {
	text-align: end;
}

.input-field {
	background-color: var(--ion-color-neutral-tint);
	border-radius: 0.5rem;
	width: 50%;
	text-align: left;
	padding: 0.875rem 0.75rem;
	margin: 0;
}

.deleteStamp {
	color: var(--ion-color-danger-shade) !important;
	--color: var(--ion-color-danger-shade) !important;
}

#savenote {
	display: flex;
	position: absolute;
	right: 1rem;
}

#addnote {
	display: flex;
}

.missing {
	color: var(--ion-color-danger-shade) !important;
	--color: var(--ion-color-danger-shade) !important;
}
