<ion-content>
    <img class="backgroundIMG" src={{page}} />
    <ion-card class="cardContent">
        <div class="lockBG">
            <img class="lockImg" src="../../assets/icon/lock.svg" />
        </div>
        Diese Funktion wurde nicht aktiviert. Bitte wende dich bei Fragen an deinen Arbeitgeber.
    </ion-card>
</ion-content>
