.cardContent {
  width: 90%;
  height: 11rem;
  background: var(--ion-color-tertiary);
  text-align: center;
  display: block;
  line-height: 1.4rem;
  size: 1rem;
  font-weight: 400;
  font-family: Europa-Regular;
  color: var(--text-neutral-20);
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  margin-top: 20%;
}

.lockImg {
  height: 21px;
  width: 18px;
}

.lockBG {
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
  text-align: center;
  background: var(--ion-color-tertiary-tint);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.backgroundIMG {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
