<ion-content fullscreen="true">
	<div class="H2" id="qr-header">{{_lang._dict.TimeTracking.QRCode.Header}}</div>
	<div class="H4" id="bottom">
		<button class="H4" id="qr-cancel" (click)="cancel()">
			{{_lang._dict.TimeTracking.QRCode.Cancel}}
		</button>
	</div>
</ion-content>
