#bottom {
	align-items: start;
	padding-top: 1rem;
	position: fixed;
	bottom: 0rem;
	width: 100%;
	height: 30%;
	background: var(--ion-color-primary);
	color: white !important;
	text-align: center;
}

#qr-header {
	color: white !important;
	background: var(--ion-color-primary);
	position: fixed;
	top: 0rem;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: center;
}

#qr-cancel {
	background: var(--ion-color-primary);
	color: white !important;
}
