<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-back-button
			slot="start"
			text=""
			defaultHref="/app/tabs/main-menu"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-title class="header">
			{{_lang._dict.Wta.Header}}
			<!--<ion-icon src="assets/icon/date.svg" id="calendarIcon" (click)="selectPeriod()"> </ion-icon>-->
		</ion-title>
		<ion-title class="subHeader">
			{{_wta.periodStart == null ? _now.toFormat('dd.MM.yyyy') :
			_wta.periodStart.toFormat('dd.MM.yyyy')}} - {{_wta.periodEnd == null ?
			_now.toFormat('dd.MM.yyyy') : _wta.periodEnd.toFormat('dd.MM.yyyy')}}
		</ion-title>

		<div class="offlinePrompt" *ngIf="_settings.offlineMode">{{_lang._dict.OfflinePrompt}}</div>
		<div class="summaryBox">
			<div class="box">
				<div class="main">
					{{_wta.predicted ?? 0 | number: '1.0-0': 'de'}}h {{predictedMinutes ?? 0 | number: '2.0':
					'de'}}min
				</div>
				<div class="sub">
					{{_lang._dict.Wta.SummarySub}}
					<ion-icon
						src="assets/icon/info.svg"
						class="small margin-left-025"
						(click)="showInfo(_lang._dict.Wta.SummarySub, _lang._dict.Wta.SummarySubInfo)"></ion-icon>
				</div>
			</div>
		</div>

		<ion-item lines="none" class="no-inner-padding">
			<div class="Body1">{{_lang._dict.Wta.Target}}</div>
			<div slot="end" class="Body1 margin-right-0">
				{{_wta.target ?? 0 | number : '1.0-2' : 'de'}}h
			</div>
		</ion-item>
		<ion-item lines="none" class="no-inner-padding">
			<div class="Body1">- {{_lang._dict.Wta.Tracked}}</div>
			<div slot="end" class="Body1 margin-right-0">
				{{_wta.currentWorkingTime ?? 0 | number : '1.0-2' : 'de'}}h
			</div>
		</ion-item>
		<ion-item lines="inset" class="no-inner-padding">
			<div class="Body1">- {{_lang._dict.Wta.Absence}}</div>
			<ion-icon
				src="assets/icon/info.svg"
				class="black margin-left-05 small"
				(click)="showInfo(_lang._dict.Wta.Absence, _lang._dict.Wta.AbsenceInfo)"></ion-icon>
			<div slot="end" class="Body1 margin-right-0">
				{{_wta.payedAbsenceTimes ?? 0 | number : '1.0-2': 'de'}}h
			</div>
		</ion-item>
		<ion-item lines="none" class="no-inner-padding">
			<div class="Body1-Bold">{{_lang._dict.Wta.Diff}}</div>
			<div slot="end" class="Body1-Bold margin-right-0">
				{{_wta.leftOver ?? 0 | number : '1.0-2' : 'de'}}h
			</div>
		</ion-item>
	</ion-list>
</ion-content>
