<ion-header class="ion-no-border">
	<ion-toolbar *ngIf="false">
		<ion-back-button
			slot="start"
			text=""
			defaultHref="/app/tabs/main-menu"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
	<ion-title class="header">{{_lang._dict.NewsFeed.Header}}</ion-title>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item lines="none" id="onlyMarkedToggleItem">
			<ion-toggle slot="start" [(ngModel)]="showOnlyMarked" mode="ios" class="reducePadding"></ion-toggle>
			<ion-label>{{_lang._dict.NewsFeed.ShowOnlyMarked}}</ion-label>
		</ion-item>
		<ion-item class="customCardItem" *ngFor="let news of displayedNews" lines="none">
			<div class="customCard" (click)="showDetail(news)">
				<div class="hasNotReadIndicator" *ngIf="!news.isRead"></div>
				<div class="customCardContent">
					<div class="customCardTitle">
						<div class="customCardHeader H5">
							<div class="customCardHeaderInitals HelperText2">{{news.initals}}</div>
							<div class="customCardHeaderText">
								{{news.isRead ? _lang._dict.NewsFeed.Status[1] :_lang._dict.NewsFeed.Status[0]}}
							</div>
							<ion-icon src="assets/icon/bookmark/marked.svg" class="" *ngIf="news.isMarked"></ion-icon>
						</div>
						<div class="customCardTitleFiller"></div>
						<div class="customCardDate HelperText1">
							{{news.isToday ? _lang._dict.NewsFeed.Today + ' ' + news.date.toFormat('HH:mm') :
							news.date.toFormat('dd.MM.yyyy')}}
						</div>
					</div>
					<div class="customCardMessage Body2">{{news.message}}</div>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
