.customCard {
	display: flex;
	flex-direction: row;
	padding: 0px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
	border-radius: 0.5rem;
	width: 100%;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	overflow-y: hidden;

	&Content {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: 1rem;
	}
	&Title {
		display: flex;
		flex-direction: row;
		align-items: center;

		&Filler {
			width: -webkit-fill-available;
		}
	}
	&Header {
		display: flex;
		flex-direction: row;
		width: max-content;

		&Text {
			width: max-content;
			margin-right: 0.75rem;
		}
		&Initals {
			height: 1.375rem;
			width: 1.375rem;
			margin-right: 0.5rem;
			background-color: var(--ion-color-tertiary);
			border-radius: 1.375rem;
			color: var(--ion-color-primary);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&Date {
		flex: none;
		color: var(--text-neutral-10) !important;
	}
	&Message {
		color: var(--text-neutral-10) !important;
		margin-top: 1rem;
		white-space: pre-wrap;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.hasNotReadIndicator {
	background-color: var(--standard-clickable);
	width: 0.25rem;
	border-radius: 0.5rem 0 0 0.5rem;
	position: absolute;
	height: calc(100% - 1rem);
	top: 0.5rem;
	left: 0;
}

#onlyMarkedToggleItem {
	margin-top: 1rem;
}

.header {
	margin-top: 1rem;
}
