<ion-header>
	<ion-toolbar>
		<ion-icon src="../../assets/icon/close.svg" (click)="DismissModal()" slot="start"></ion-icon>
		<ion-title class="textColorNeutral20">
			{{_lang._dict.ShiftPlanning.Detail.Header}} {{_shift.shiftDate | date: 'dd.MM.yyyy'}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<div class="inner-content">
	<ion-list>
		<ion-item lines="none">
			<ion-label class="Body1 text-neutral-10">
				{{_lang._dict.ShiftPlanning.Detail.WorkingTime}}
			</ion-label>
			<ion-label slot="end" class="Body1">{{_shift.shiftTimeOnly}}</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label class="Body1 text-neutral-10">
				{{_lang._dict.ShiftPlanning.Detail.Shift}}
			</ion-label>
			<ion-label slot="end" class="Body1">{{_shift.shiftNameOnly}}</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label class="Body1 text-neutral-10">
				{{_lang._dict.ShiftPlanning.Detail.Project}}
			</ion-label>
			<ion-label slot="end" class="Body1">{{_shift.projectName}}</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label class="Body1 text-neutral-10">
				{{_lang._dict.ShiftPlanning.Detail.Qualification}}
			</ion-label>
			<ion-label slot="end" class="Body1">{{_shift.shiftSymbol}}</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label class="Body1 text-neutral-10">
				{{_lang._dict.ShiftPlanning.Detail.WorkingPlace}}
			</ion-label>
			<ion-label slot="end" class="Body1">{{_shift.customerLocation}}</ion-label>
		</ion-item>
	</ion-list>
</div>
