<ion-header>
	<ion-toolbar>
		<ion-title>Nutzungsbedingungen</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h3>1. Allgemeines</h3>
	<p>
		Die mycompleet time steht jedem Nutzer ohne zusätzliche Kosten zur Verfügung. Als mycompleet time Nutzer
		stehen Ihnen folgende Funktionen und Informationen auf Ihrem Smartphone zur Verfügung:
	</p>
	<ul>
		<li>Anwesenheitsdaten (Arbeitszeitbeginn, Arbeitszeitende)</li>
		<li>Stundenzettel versand</li>
	</ul>
	<p>
		Durch die Registrierung in der mycompleet time haben Sie Zugang zu Informationen und Funktionalitäten, die auf
		Sie als Nutzer zugeschnitten sind. Für diese individuellen Funktionszugriffe und Auswertungen ist es erforderlich,
		dass wir Sie als legitimierten Nutzer des Portals identifizieren können. Deshalb werden bei Nutzung der App auch
		personenbezogenen Daten abgefragt. Darunter fallen Informationen wie Ihr Benutzername und Kennwort.
	</p>
	<h3>2. Verbindung mit Workforce</h3>
	<p>
		Die Nutzung der App setzt eine Zustimmung zur Zeiterfassung mit der compleet GmbH („compleet") voraus. Bei Fragen
		können Sie sich gerne unter service@compleet.com an uns wenden.
	</p>
	<h3>3. Datenschutz</h3>
	<h4>3.1 Persönliche Daten</h4>
	<p>
		Unsere sorgfaltige Bearbeitung Ihrer personenbezogenen Daten, die Sie bei Nutzung der App angeben, unterliegen den
		strengen Regelungen der DSGVO. Workforce ist ein DSGVO-konformes Portal und Datenschutz ist compleet als Betreiber
		des Portals sehr wichtig. Als Nutzer sind Sie jedoch wesentlicher Teil des Datenschutzes und der Datensicherheit für
		Ihr Unternehmen. Nehmen Sie diese Verantwortung ernst. Der Nutzer ist verantwortlich dafür, dass der Account keinem
		Dritten zugänglich gemacht wird und dass Benutzername und Passwort vor dem Zugriff Dritter geschützt werden. Mit
		jedem Login akzeptieren Sie diese Bedingungen und diese Verantwortung.
	</p>
	<h4>3.2 Zugriffsdaten</h4>
	<p>Für die Funktionsfähigkeit der App speichert compleet in Workforce folgende Daten:</p>
	<ul>
		<li>UUID/ eindeutig Identifizierbare ID des Geräts,</li>
		<li>Gerätemodell, Hersteller,</li>
		<li>OS/ Betriebssystem, Betriebssystemversion.</li>
	</ul>
	<h4>3.3 Fragen und Kommentare</h4>
	<p>
		Für Fragen, Anregungen oder Kommentare zum Thema Datenschutz wenden Sie sich bitte per E-Mail an den
		Datenschutzbeauftragten der compleet über datenschutz@compleet.com oder lesen Sie unsere Datenschutzerklärung unter
		https://compleet.com/datenschutz
	</p>
	<h4>3.4 Sicherheit der Daten</h4>
	<p>Die Daten des Workroce Portals werden auf besonders geschützten Servern in Deutschland gespeichert.</p>
	<h3>4. Urheberrecht</h3>
	<p>
		Texte, Layout, Bilder, Grafiken und Funktionalitäten der App sind gesetzlich geschützt. Dies betrifft insbesondere
		Markenrechte und alle anderen Formen geistiger Eigentumsrechte von compleet. Eine Bekanntmachung, Verwendung,
		Vervielfältigung, Veränderung oder Weitergabe von Inhalten auch in anderen elektronischen oder gedruckten
		Publikationen, ist ohne ausdrückliche Genehmigung der compleet nicht zulässig. Zuwiderhandlungen werden zivil- und
		strafrechtlich verfolgt.
	</p>
	<h3>5. Haftungsausschluss</h3>
	<h4>5.1 Betrieb</h4>
	<p>
		Für den Betrieb des App-Angebots setzt compleet neueste leistungsstarke Technologien ein. Für eine uneingeschränkte
		Verfügbarkeit und einwandfreie Ubermittlung von Inhalten und Daten übernimmt compleet jedoch keine Haftung
	</p>
	<h4>5.2 Verfügbarkeit Kommunikationsinfrastruktur</h4>
	<p>
		Eine Verfügbarkeit der Kommunikationsinfrastruktur von Netzbetreibern und damit ein Anspruch auf aktuelle Daten und
		Informationen besteht in keinem Fall und ist nicht Gegenstand einer Vertragsbeziehung, auch dann nicht, wenn
		compleet diese Leistungen mit in Angeboten formuliert.
	</p>
	<p>
		©2022 compleet GmbH - Alle Rechte vorbehalten | Vervielfältigung in jedweder Form nur mit schriftlicher Genehmigung
		der compleet GmbH, Hauptstraße 8, D-82008 Unterhaching
	</p>
</ion-content>
