ion-title {
	font-family: 'Europa-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 1.0625rem; //17px
	line-height: 1.375rem; //22px
	--color: var(--text-neutral-20);
	padding: 0rem 1rem;
}

p,
li,
h3,
h4 {
	color: var(--text-neutral-20);
	font-family: 'Open Sans';
	font-size: 0.875rem; //14px
	line-height: 1.25rem; //20px
	letter-spacing: 0.01rem;
	font-style: normal;
}

ion-toolbar {
  --background: white;
}

p,
li {
	font-weight: 400;
}

ion-content {
	--padding-start: 1rem;
	--padding-end: 1rem;
}

h3,
h4 {
	font-weight: 700;
}
