<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-back-button
			slot="start"
			text=""
			defaultHref="/app/tabs/settings"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-title class="header margin-bottom-1"> {{_lang._dict.Settings.Tracking.Header}} </ion-title>
		<ion-item lines="none" class="no-inner-padding-end">
			<ion-label class="H5"> {{_lang._dict.Settings.Tracking.ShowQRAtStart}} </ion-label>
			<ion-toggle
				slot="end"
				[(ngModel)]="showQRAtStart"
				mode="ios"
				class="reducePadding"></ion-toggle>
		</ion-item>
		<p id="QrDescription" class="Body2">{{_lang._dict.Settings.Tracking.QRDescription}}</p>
	</ion-list>
</ion-content>
