#QrDescription {
	margin: 0rem 5.5rem 0rem 1rem;
	color: var(--text-neutral-10);
}

.reducePadding {
	padding: 0rem;
}

ion-toggle {
	--background-checked: var(--standard-clickable);
	--handle-background-checked: var(--ion-color-dark-contrast);
}
