<ion-content>
	<img class="logo" src="../../assets/Images/new_logo_freemum.svg" width="200px" height="155px" />

	<p class="loginText H4" *ngIf="!_qrCodeDisplay && loginState != 0 && textState == 1">
		{{_lang._dict.login.Loginstate_1}}
	</p>
	<p class="loginText H4" *ngIf="!_qrCodeDisplay && loginState != 0 && textState == 11">
		{{_lang._dict.login.Loginstate_1v}}
	</p>
	<p class="loginText H4" *ngIf="!_qrCodeDisplay && loginState != 0 && textState == 2">
		{{_lang._dict.login.Loginstate_2}}
	</p>
	<p class="loginText H4" *ngIf="!_qrCodeDisplay && loginState != 0 && textState == 3">
		{{_lang._dict.login.PinNotEqual}}
	</p>
	<p class="loginText H4" *ngIf="!_qrCodeDisplay && loginState != 0 && textState == 4">
		{{_lang._dict.login.PinIsWrong}}
	</p>
	<p class="loginText H5 text-left-align" *ngIf="!_qrCodeDisplay && loginState == 0">
		{{_lang._dict.login.Loginstate_0}}
	</p>

	<div id="pinEntry" *ngIf="(loginState == 2 || loginState == 1) && !_qrCodeDisplay">
		<div
			class="digit"
			[ngClass]="{
					'pin-success': _pinSuccessfull,
					'pin-failure': _pinNotRight,
					'filled-digit': pinEntry.length >= 1
				}"></div>
		<div
			class="digit"
			[ngClass]="{
					'pin-failure': _pinNotRight,
					'pin-success': _pinSuccessfull,
					'filled-digit': pinEntry.length >= 2
				}"></div>
		<div
			class="digit"
			[ngClass]="{
					'pin-success': _pinSuccessfull,
					'pin-failure': _pinNotRight,
					'filled-digit': pinEntry.length >= 3
				}"></div>
		<div
			class="digit"
			[ngClass]="{
					'pin-success': _pinSuccessfull,
					'pin-failure': _pinNotRight,
					'filled-digit': pinEntry.length >= 4
				}"></div>
	</div>
	<div id="loginPrompt" *ngIf="loginState == 0 && !_qrCodeDisplay">
		<!-- No Token exists, so show the login prompt -->
		<ion-label class="Input1 padding-top-1">{{_lang._dict.login.Email}}</ion-label>
		<ion-input [(ngModel)]="username" class="textInput" inputmode="email"></ion-input>
		<ion-label class="Input1 padding-top-1">{{_lang._dict.login.Password}}</ion-label>
		<ion-input
			type="password"
			class="textInput"
			inputmode="password"
			[(ngModel)]="password"
			(change)="pwInputAuto($event)"></ion-input>
		<ion-button (click)="loginFunction()" class="loginButton DefaultButtonL margin-bottom-1">
			{{_lang._dict.login.Login}}
		</ion-button>
		<div class="forgotPW Caption margin-left-0 margin-right-0" (click)="forgotPW()">
			{{_lang._dict.login.Password_forgot}}
		</div>
		<div class="newToApp Caption margin-left-0 margin-right-0 margin-top-1">{{_lang._dict.Freemium.NewToFreemium}}</div>
		<div class="register Caption margin-left-0 margin-right-0 margin-top-025" (click)="signUp()">
			{{_lang._dict.Freemium.Register}}
		</div>
		<div id="dsgvoButtonWithKeyboard" class="dsgvo-keyboard hidden Link1" (click)="showTermsOfUse()">
			{{_lang._dict.login.TOS}}
		</div>
		<div id="dsgvoButton" class="dsgvo Link1" (click)="showTermsOfUse()">{{_lang._dict.login.TOS}}</div>
		<div id="languageButton" class="language" (click)="selectLanguage()">
			<ion-icon src="assets/icon/language.svg" class="middle"></ion-icon>
		</div>
	</div>

	<!-- Token exists and is valid but no PIN was set.
            This step will be skipped if a local PIN is set -->

	<!-- We will now display the buttons with a grid layout -->
	<ion-grid *ngIf="(loginState == 1 || loginState == 2) && !_qrCodeDisplay">
		<ion-row>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(1)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					1
				</button>
			</ion-col>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(2)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					2
				</button>
			</ion-col>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(3)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					3
				</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(4)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					4
				</button>
			</ion-col>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(5)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					5
				</button>
			</ion-col>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(6)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					6
				</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(7)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					7
				</button>
			</ion-col>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(8)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					8
				</button>
			</ion-col>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(9)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					9
				</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button id="forgotbutton" class="Caption" (click)="deleteLocalSettings()" *ngIf="loginState == 2">
					{{_lang._dict.login.forgot}}
				</button>
			</ion-col>
			<ion-col>
				<button
					class="H1"
					(click)="addPinEntry(0)"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					0
				</button>
			</ion-col>
			<ion-col>
				<button
					class="H1"
					(click)="deletePinEntry()"
					[ngClass]="{
						'pinButton': !pinButtonsDisabled,
						'pinButton-Disabled': pinButtonsDisabled
					}"
					[disabled]="pinButtonsDisabled">
					<ion-icon
						name="backspace-outline"
						class="large"
						[ngClass]="{
							'black': !pinButtonsDisabled,
							'gray': pinButtonsDisabled
					}"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div id="registerWindow" *ngIf="loginState == 5">
		<p class="loginText-register H4">{{_lang._dict.Freemium.Registration}}</p>
		<p class="loginText-register H4">{{_lang._dict.Freemium.RegisterText}}</p>
		<ion-item class="padding-bottom-1">
			<ion-label>{{_lang._dict.Freemium.Salutation}}</ion-label>
			<ion-select [(ngModel)]="selectedSalutation" [cancelText]="_lang._dict.Freemium.cancel">
				<ion-select-option value="1">{{_lang._dict.Freemium.Mr}}</ion-select-option>
				<ion-select-option value="2">{{_lang._dict.Freemium.Mrs}}</ion-select-option>
				<ion-select-option value="3">{{_lang._dict.Freemium.Diverse}}</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-label class="Input1 padding-top-1">{{_lang._dict.Freemium.FirstName}}</ion-label>
		<ion-input class="textInput" type="text" [(ngModel)]="surName"></ion-input>
		<ion-label class="Input1 padding-top-1">{{_lang._dict.Freemium.LastName}}</ion-label>
		<ion-input class="textInput" type="text" [(ngModel)]="name"></ion-input>
		<ion-label class="Input1 padding-top-1">{{_lang._dict.Freemium.Email}}</ion-label>
		<ion-input class="textInput" type="email" [(ngModel)]="email"></ion-input>
		<ion-label class="Input1 padding-top-1">{{_lang._dict.Freemium.Password}}</ion-label>
		<ion-input class="textInput" type="password" [(ngModel)]="RegPassword"></ion-input>
		<ion-label class="Input1 padding-top-1">{{_lang._dict.Freemium.RepeatPassword}}</ion-label>
		<ion-input class="textInput" type="password" [(ngModel)]="passwordRepeat"></ion-input>

		<ion-button class="loginButton DefaultButtonL margin-bottom-1" (click)="createUser()">
			{{_lang._dict.Freemium.Register}}
		</ion-button>
		<ion-button class="loginButton DefaultButtonL margin-bottom-1" (click)="loginState = 0; clearFields();">
			{{_lang._dict.Freemium.cancel}}
		</ion-button>
	</div>

	<div id="confirmWindow" *ngIf="loginState == 6">
		<p class="loginText-register H4">{{_lang._dict.Freemium.ConfirmationCode}} {{email}}</p>
		<ion-input class="textInput" type="text" [(ngModel)]="ConfCode"></ion-input>

		<ion-button class="loginButton DefaultButtonL margin-bottom-1" (click)="activateAccount()">
			{{_lang._dict.Freemium.activateAccount}}
		</ion-button>
		<ion-button class="loginButton DefaultButtonL margin-bottom-1" (click)="loginState = 5; clearFields();">
			{{_lang._dict.Freemium.back}}
		</ion-button>
		<ion-button class="loginButton DefaultButtonL margin-bottom-1" (click)="loginState = 0; clearFields();">
			{{_lang._dict.Freemium.cancel}}
		</ion-button>
	</div>
	<!--   QR CODE NICHT IN FREEMIUM  -->
	<!--<canvas id="qrcode" *ngIf="_qrCodeDisplay"></canvas>
	<ion-button id="skip-qr" class="DefaultButtonM" expand="block" (click)="qrCodeCancelled()" *ngIf="_qrCodeDisplay">
		{{_lang._dict.login.ContinuePIN}}
	</ion-button>-->
</ion-content>
