div {
	margin-left: 1rem;
	margin-right: 1rem;
}

.textInput {
	--background: var(--ion-color-neutral-tint);
	border-radius: 8px;
	margin-bottom: 1rem;
	--padding-start: 6px;
}

.logo {
	position: relative;
	display: block;
	margin: 4rem auto 4rem;

	@media only screen and (max-height: 667px) {
		margin: 3rem auto 2rem;
	}
}

.loginText {
	text-align: center;
	color: var(--text-neutral-20);
	font-family: 'Europa-Regular';
	padding-left: 1rem;
	padding-right: 1rem;

	&-register {
		@extend .loginText;
		text-align: left;
		padding-left: 0;
	}
}

#mainContent {
	position: relative;
	height: 100%;
	width: 92%;
}

.forgotPW,
.register {
	color: var(--standard-clickable) !important;
	font-size: 1rem !important;
	display: inline-block;
}

.removePinEntry {
	display: contents;
}

.loginButton {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.backButton {
	position: absolute;
	top: 50px;
	left: 20px;
	height: 2em;
	line-height: 2em;
}

.backButton {
	position: absolute;
	top: 50px;
	left: 20px;
	height: 2em;
	line-height: 2em;
}

.backButton {
	position: absolute;
	top: 50px;
	left: 20px;
	height: 2em;
	line-height: 2em;
}

.loginLabel {
	padding-top: 1rem;
}

.hidden {
	display: none !important;
}

.registerForm {
	overflow: auto;
	height: 40vh;
}

.dsgvo {
	position: absolute;
	bottom: calc(1rem + env(safe-area-inset-bottom));
	left: 0rem;
	color: var(--standard-clickable);
	&-keyboard {
		@extend .dsgvo;
		display: inline-block;
		left: unset;
		bottom: unset;
		right: 0px;
	}
}

.language {
	position: absolute;
	bottom: calc(1rem + env(safe-area-inset-bottom));
	right: 0rem;
}

ion-col {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-bottom: 0.625rem;
	padding-top: 0.625rem;
}

.text-left-align {
	text-align: left !important;
}

.pinButton {
	--border-radius: 2.25rem;
	border-radius: 2.25rem;
	border-style: solid;
	border-color: var(--text-neutral-20);
	border-width: 1px;
	background: white;
	color: var(--text-neutral-20);
	height: 4.5rem;
	width: 4.5rem;
	--padding-start: 0;
	--padding-end: 0;

	display: inline-grid;
	align-items: center;
	justify-content: center;

	&-Disabled {
		@extend .pinButton;
		color: var(--text-neutral-10);
		border-color: var(--text-neutral-10);
	}
}

.pinButton:active {
	background: var(--ion-color-light-tint);
}

#forgotbutton {
	background: white;
	color: var(--text-neutral-20);

	align-self: center;
}

#qrcode {
	position: relative;
	top: 10vh;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

#skip-qr {
	position: absolute;
	bottom: calc(1rem + env(safe-area-inset-bottom));
	left: 1rem;
	right: 1rem;
}

#pinEntry {
	display: flex;
	justify-content: center;
}

.digit {
	width: 0.75rem;
	height: 0.75rem;
	background: var(--ion-color-tertiary-tint);
	border-radius: 0.375rem;
	margin: 1rem 0.375rem;
}

.filled-digit {
	background: var(--standard-clickable);
}

.pin-success {
	background: var(--ion-color-success-shade) !important;
}

.pin-failure {
	background: var(--ion-color-danger-shade) !important;
}

#registerWindow {
	position: relative;
}
