.tabText {
	font-family: 'Europa-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
}

.tabIcon {
	height: 1.5rem;
	width: 1.5rem;
	&-middle {
		height: 2.6rem;
		width: 2.6rem;
	}
}

.middleTab {
	margin-bottom: 0.8rem;
}

.middleIcon {
	height: 5rem;
	width: 5rem;
}

.TabbarTimeTracking {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	position: fixed;
	bottom: 0.8rem;
	z-index: 1000;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-bottom: env(safe-area-inset-bottom);
}

.Notcolorized {
	color: var(--ion-tab-bar-color, var(--ion-color-step-400, #999999));
}

.colorized {
	color: var(--standard-clickable);
}

ion-tab-bar {
	background: white;
	margin-bottom: 0.5em;
	padding-top: 0.5rem;
	box-shadow: 3px -2px 63px -38px black;
}

ion-tab-button {
	background: white;
}
