<ion-tabs>
	<!--
	<div class="TabbarTimeTracking" (click)="openTimeTracking()">
		<ion-icon src="assets/icon/TabPlus.svg" class="middleIcon"></ion-icon>
		<ion-label
			class="tabText colorized"
			[ngClass]="{
				'Notcolorized': !timeTrackingSelected,
				'colorized': timeTrackingSelected
			}">
			{{_lang._dict.tabs.TimeTracking}}
		</ion-label>
	</div>
-->

	<ion-tab-bar slot="bottom" id="tabBar">
		<ion-tab-button tab="main-menu">
			<ion-icon src="assets/icon/house.svg" class="tabIcon"></ion-icon>
			<ion-label class="tabText">{{_lang._dict.tabs.Home}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="timesheet-overview">
			<ion-icon src="assets/icon/date.svg" class="tabIcon"></ion-icon>
			<ion-label class="tabText">{{_lang._dict.tabs.Timesheet}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="time-tracking" class="middleTab">
			<ion-icon src="assets/icon/plus_button-edit.svg" class="tabIcon-middle"></ion-icon>
			<ion-label class="tabText">{{_lang._dict.tabs.TimeTracking}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="newsfeed">
			<ion-icon src="assets/icon/message.svg" class="tabIcon"></ion-icon>
			<ion-label class="tabText">{{_lang._dict.tabs.News}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="settings">
			<ion-icon src="assets/icon/setting.svg" class="tabIcon"></ion-icon>
			<ion-label class="tabText">{{_lang._dict.tabs.Settings}}</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
