#saveButton {
	margin: 0.875rem 1rem;
	background: var(--standard-clickable);
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1rem;
	height: 2.75rem;
	border-radius: 0.5rem;
}

.pin-input {
	background-color: var(--ion-color-light-tint);
	border-radius: 0.5rem;
	height: 2.75rem;
	--padding-start: 0.5rem;
	-webkit-text-security: disc;
}

ion-input {
	caret-color: var(--standard-clickable);
}
