<ion-header class="ion-no-border">
	<ion-toolbar id="pinChange-Toolbar">
		<ion-back-button
			slot="start"
			text=""
			defaultHref="/app/tabs/settings/security"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-title class="header margin-bottom-1">
		{{_lang._dict.Settings.SecurityPage.PinPage.Header}}
	</ion-title>
	<ion-item lines="none" class="no-inner-padding-end">
		<ion-label position="stacked" class="Input1 margin-bottom-05 margin-top-1">
			{{_lang._dict.Settings.SecurityPage.PinPage.OldPin}}
		</ion-label>
		<ion-input
			id="oldPin"
			class="pin-input"
			inputmode="numeric"
			type="tel"
			name="oldPin"
			min="4"
			maxlength="4"
			clearOnEdit="true"
			[(ngModel)]="oldPin"></ion-input>
		<!-- 			(keydown)="onInput($event)" Legacy, removed -->
	</ion-item>
	<ion-item lines="none" class="no-inner-padding-end">
		<ion-label position="stacked" class="Input1 margin-bottom-05 margin-top-1">
			{{_lang._dict.Settings.SecurityPage.PinPage.NewPin}}
		</ion-label>
		<ion-input
			id="newPin"
			class="pin-input"
			inputmode="numeric"
			type="tel"
			name="newPin"
			min="4"
			maxlength="4"
			enterkeyhint="next"
			clearOnEdit="true"
			[(ngModel)]="newPin"></ion-input>
	</ion-item>
	<ion-item lines="none" class="no-inner-padding-end">
		<ion-label position="stacked" class="Input1 margin-bottom-05 margin-top-1">
			{{_lang._dict.Settings.SecurityPage.PinPage.RepeatNewPin}}
		</ion-label>
		<ion-input
			id="repeatedPin"
			class="pin-input"
			inputmode="numeric"
			type="tel"
			name="newPinRepeated"
			minlength="4"
			maxlength="4"
			clearOnEdit="true"
			[(ngModel)]="newPinRepeated"></ion-input>
	</ion-item>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-toolbar>
		<ion-button (click)="saveNewPin()" expand="block" id="saveButton">
			{{_lang._dict.Settings.SecurityPage.PinPage.Save}}
		</ion-button>
	</ion-toolbar>
</ion-footer>
