#summary {
	background-color: var(--ion-color-tertiary);
	font-family: 'Europa-Regular';
	font-weight: 400;
	border-radius: 0.5rem;
	margin: 1rem;
	padding: 1rem;
	height: 5rem;
}

#summary div {
	color: var(--standard-clickable);
}

#worktTime {
	display: inline;
	float: left;
}

#pauseTime {
	display: inline;
	float: right;
	margin-right: 1rem;
}

ion-toolbar {
	background-color: white !important;
	--background: white !important;
}

#projectItem {
	margin-top: 4rem;
	@media (min-width: 375px) and (min-height: 800px) {
		margin-top: 5rem;
	}
	text-align: center;
}

#activityItem {
	margin-top: 1rem;
	margin-bottom: 4rem;
	text-align: center;
}

#prompt {
	margin: 0 1rem;
	justify-content: center;
	display: flex;
	padding: 0.75rem;
	gap: 0.5rem;
	border-radius: 0.5rem;
	background: var(--ion-color-success);
	color: var(--ion-color-success-shade);
}

#promptText {
	display: inline;
	margin-left: 0.5rem;
}

#todayDate {
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

#fromToHours {
	margin-left: 1rem;
	margin-bottom: 1rem;
}

#showDayHistory {
	margin: 6rem 1rem 0rem 1rem;
	text-align: center;
	color: var(--standard-clickable);
}

#finishButton {
	margin: 0 1rem;
	position: absolute;
	bottom: 3rem;
	width: -webkit-fill-available;
}
