<ion-header class="ion-no-border">
	<ion-toolbar>
		<div id="prompt" class="SubTitle1">
			<ion-icon src="assets/icon/circle-check.svg" class="green"></ion-icon>
			<div id="promptText">
				{{_isOnline ? _lang._dict.TimeTracking.FinishedDay.OnlineTracked:
				_lang._dict.TimeTracking.FinishedDay.OnlineTracked}}
			</div>
		</div>
	</ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
	<ion-list>
		<div id="projectItem" class="H2">{{_projectName}}</div>
		<div id="activityItem" class="Body1">{{_activityName}}</div>
		<div class="Body1" id="todayDate">{{_today.toFormat('ccc, dd.LL.yyyy')}}</div>
		<div class="H1" id="fromToHours">
			{{ _dayStarted ? _dayStarted.toFormat('HH:mm') : ''}} - {{tracker.end.toFormat('HH:mm')}}
			{{_lang._dict.TimeTracking.FinishedDay.HourUnit}}
		</div>
		<div id="summary">
			<div id="worktTime">
				<div class="H3">{{_totalWorkTime | date:'H':'+0000'}}h {{_totalWorkTime | date:'mm':'+0000'}}min</div>
				<div class="SubTitle2">{{_lang._dict.TimeSheet.WorkTime}}</div>
			</div>
			<div id="pauseTime">
				<div class="H3">{{_totalPauseTime | date:'H':'+0000'}}h {{_totalPauseTime | date:'mm':'+0000'}}min</div>
				<div class="SubTitle2">{{_lang._dict.TimeSheet.Pause}}</div>
			</div>
		</div>
		<div id="showDayHistory" class="DefaultButtonS">
			<span (click)="showDayHistory()">{{_lang._dict.TimeTracking.FinishedDay.ShowDayHistory}}</span>
		</div>
	</ion-list>
	<ion-button expand="block" id="finishButton" class="DefaultButtonL" (click)="finish()">
		{{_lang._dict.TimeTracking.FinishedDay.Finished}}
	</ion-button>
</ion-content>
