<ion-content id="content">
  <div class="avatar" (click)="changeTab('Settings')">
    <ion-icon src="assets/icon/user.svg" class="avatar-icon medium"></ion-icon>
  </div>
  <ion-list>
    <div class="page-header H4">
      {{lang._dict.MainMenu.Welcome + ' ' + employeeData.firstname + ' ' +
      employeeData.lastname + '!'}}
    </div>
    <div class="box" (click)="changeTab('TimeTracking')">
      <div class="box-header H4">{{lang._dict.MainMenu.Tracking}}</div>
      <div class="box-tracking">
        <div class="box-tracking-time">
          {{ tracker.duration ?? 0 | date: "HH:mm:ss" : '+0000'}}
        </div>
        <div class="box-tracking-pause H5">
          {{totalPauseTime ?? 0}} {{lang._dict.MainMenu.TrackingSub}}
        </div>
      </div>

      <div
        class="box-link-active Caption"
        *ngIf="tracker.isTracking"
        (click)="changeTab('TimeTracking')"
      >
        {{lang._dict.MainMenu.TrackingLink.Running}}
        <ion-icon
          src="assets/icon/recording/record.svg"
          class="box-link-active-icon"
        ></ion-icon>
      </div>
      <div
        class="box-link Caption"
        *ngIf="!tracker.isTracking"
        (click)="changeTab('TimeTracking')"
      >
        {{lang._dict.MainMenu.TrackingLink.NotRunning}}
        <ion-icon
          src="assets/icon/recording/default.svg"
          class="box-link-icon"
        ></ion-icon>
      </div>
    </div>
    <!--<div class="box" *ngIf="nextShift" (click)="changeTab('Shift')">
			<div class="box-header H4">{{lang._dict.MainMenu.ShiftPlan}}</div>
			<div class="box-shift">
				<div class="box-shift-date H5">
					<div class="box-shift-date-date H5">{{nextShift.shiftDate | date : 'dd.MM' : '+0200'}}</div>
					<div class="box-shift-date-day SubTitle2">{{nextShift.shiftDate | date: 'EE' : '+0200' : lang.locale}}</div>
				</div>
				<div class="box-shift-detail H5">
					<div class="box-shift-detail-header H5">{{nextShift.shiftName}}</div>
					<div class="box-shift-detail-location SubTitle2">{{nextShift.customerLocation}}</div>
				</div>
			</div>
		</div>-->
    <ion-card class="navItem">
      <ion-card-content
        (click)="changeTab('Timesheet')"
        class="navItem-content"
      >
        <!--<div class="H5 navItem-icon">
					<ion-icon src="assets/icon/files.svg" class="medium"></ion-icon>
				</div>-->
        <div class="navItem-labels">
          <div class="navItem-labels-main centered H5">
            {{lang._dict.Freemium.yourTimeSheet}}
          </div>
          <div class="box-tracking">
            <div class="navItem-labels-main H5 flex">
              {{lang._dict.Freemium.total}}:
              <p class="fixedpos">
                {{_weekWorkTimeHours}}h {{_weekWorkTimeMinutes}}min
              </p>
            </div>
            <div class="navItem-labels-sub Caption flex">
              {{lang._dict.Freemium.break}}:
              <p class="navItem-labels-sub fixedpos Caption">
                {{_weekPauseTimeHours}}h {{_weekPauseTimeMinutes}}min
              </p>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="navItem">
      <ion-card-content (click)="changeTab('News')" class="navItem-content">
        <div class="H5 navItem-icon">
          <ion-icon src="assets/icon/message.svg" class="medium"></ion-icon>
        </div>
        <div class="navItem-labels">
          <div class="navItem-labels-main H5">{{lang._dict.tabs.News}}</div>
          <div class="navItem-labels-sub Caption">
            {{lang._dict.Freemium.newsToCompleet}}
          </div>
        </div>
        <div class="navItem-arrowIcon">
          <ion-icon
            src="assets/icon/lock.svg"
            class="medium"
            *ngIf="!employeeData.hasRightForHolidayAccount"
          ></ion-icon>
          <ion-icon
            src="assets/icon/chevron/right.svg"
            class="medium"
            *ngIf="employeeData.hasRightForHolidayAccount"
          ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="navItem">
      <ion-card-content (click)="changeTab('Settings')" class="navItem-content">
        <div class="H5 navItem-icon">
          <ion-icon src="assets/icon/setting.svg" class="medium"></ion-icon>
        </div>
        <div class="navItem-labels">
          <div class="navItem-labels-main H5">
            {{lang._dict.Freemium.settings}}
          </div>
          <div class="navItem-labels-sub Caption">
            {{lang._dict.Freemium.settingsSubtext}}
          </div>
        </div>
        <div class="navItem-arrowIcon">
          <ion-icon
            src="assets/icon/lock.svg"
            class="medium"
            *ngIf="!employeeData.hasRightForWorkTimeAccount"
          ></ion-icon>
          <ion-icon
            src="assets/icon/chevron/right.svg"
            class="medium"
            *ngIf="employeeData.hasRightForWorkTimeAccount"
          ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!--

	<ion-grid>
		<ion-row *ngIf="_tracker.isTracking || _tracker.isPause">
			<ion-col>
				<div id="SummaryTracking" *ngIf="_tracker.isTracking">
					<div id="SummaryHeader" class="H5 SumHeader">
						<ion-icon src="assets/icon/recording/record.svg" id="SummaryIcon"></ion-icon>
						{{_lang._dict.MainMenu.Summary.TrackingTitle}}
					</div>
					<div id="SummaryTracker" class="SumTracker">{{ _tracker.duration | date: "HH:mm:ss" : '+0000'}}</div>
					<div id="SummarySubText" class="H4">{{_totalPauseTime}} {{_lang._dict.MainMenu.Summary.TrackingSub}}</div>
				</div>
				<div id="SummaryPaused" *ngIf="_tracker.isPause">
					<div id="SummaryPauseHeader" class="H5 SumHeader">{{_lang._dict.MainMenu.Summary.PauseTitle}}</div>
					<div id="SummaryPauseTracker" class="SumTracker">{{ _tracker.duration | date: "HH:mm:ss" : '+0000'}}</div>
					<div id="SummaryPauseSubText" class="H4">{{_lang._dict.MainMenu.Summary.PauseSub}}</div>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="margin-right-025 margin-bottom-025">
				<div id="BtnTimeTracking" (click)="changeTab($event)" class="MenuButton">
					<div class="LockItem" *ngIf="!_employeeData.hasRightForTimeTracking">
						<ion-icon src="assets/icon/lock.svg" class="Lock"></ion-icon>
					</div>
					<div class="ModuleIconDiv" *ngIf="_employeeData.hasRightForTimeTracking">
						<ion-icon src="assets/icon/timer.svg" class="ModuleIcon"></ion-icon>
					</div>
					<div class="ModuleIconDivDisabled" *ngIf="!_employeeData.hasRightForTimeTracking">
						<ion-icon src="assets/icon/timer.svg" class="ModuleIconDisabled"></ion-icon>
					</div>
					<br />
					<div class="ModuleText H5">{{_lang._dict.MainMenu.Tracking}}</div>
				</div>
			</ion-col>
			
			<ion-col class="margin-left-025 margin-bottom-025">
				<div id="BtnTimesheet" (click)="changeTab($event)" class="MenuButton">
					<div class="LockItem" *ngIf="!_employeeData.hasRightForTimeSheet">
						<ion-icon src="assets/icon/lock.svg" class="Lock"></ion-icon>
					</div>
					<div class="ModuleIconDiv" *ngIf="_employeeData.hasRightForTimeSheet">
						<ion-icon src="assets/icon/files.svg" class="ModuleIcon"></ion-icon>
					</div>
					<div class="ModuleIconDivDisabled" *ngIf="!_employeeData.hasRightForTimeSheet">
						<ion-icon src="assets/icon/files.svg" class="ModuleIconDisabled"></ion-icon>
					</div>
					<br />
					<div class="ModuleText H5">{{_lang._dict.MainMenu.TimeSheet}}</div>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="margin-right-025 margin-top-025 margin-bottom-025">
				<div id="BtnWTA" (click)="changeTab($event)" class="MenuButton">
					<div class="LockItem" *ngIf="!_employeeData.hasRightForWorkTimeAccount">
						<ion-icon src="assets/icon/lock.svg" class="Lock"></ion-icon>
					</div>
					<div class="ModuleIconDiv" *ngIf="_employeeData.hasRightForWorkTimeAccount">
						<ion-icon src="assets/icon/time.svg" class="ModuleIcon"></ion-icon>
					</div>
					<div class="ModuleIconDivDisabled" *ngIf="!_employeeData.hasRightForWorkTimeAccount">
						<ion-icon src="assets/icon/time.svg" class="ModuleIconDisabled"></ion-icon>
					</div>
					<br />
					<div class="ModuleText H5">{{_lang._dict.MainMenu.WorkTimeAccount}}</div>
				</div>
			</ion-col>
			<ion-col class="margin-left-025 margin-top-025 margin-bottom-025">
				<div id="BtnHolidayAccount" (click)="changeTab($event)" class="MenuButton">
					<div class="LockItem" *ngIf="!_employeeData.hasRightForHolidayAccount">
						<ion-icon src="assets/icon/lock.svg" class="Lock"></ion-icon>
					</div>
					<div class="ModuleIconDiv" *ngIf="_employeeData.hasRightForHolidayAccount">
						<ion-icon src="assets/icon/sun.svg" class="ModuleIcon"></ion-icon>
					</div>
					<div class="ModuleIconDivDisabled" *ngIf="!_employeeData.hasRightForHolidayAccount">
						<ion-icon src="assets/icon/sun.svg" class="ModuleIconDisabled"></ion-icon>
					</div>
					<br />
					<div class="ModuleText H5">{{_lang._dict.MainMenu.HolidayAccount}}</div>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="margin-right-025 margin-top-025">
				<div id="BtnShift" (click)="changeTab($event)" class="MenuButton">
					<div class="LockItem" *ngIf="!_employeeData.hasRightForWorkTimeAccount">
						<ion-icon src="assets/icon/lock.svg" class="Lock"></ion-icon>
					</div>
					<div class="ModuleIconDiv" *ngIf="_employeeData.hasRightForWorkTimeAccount">
						<ion-icon src="assets/icon/time.svg" class="ModuleIcon"></ion-icon>
					</div>
					<div class="ModuleIconDivDisabled" *ngIf="!_employeeData.hasRightForWorkTimeAccount">
						<ion-icon src="assets/icon/time.svg" class="ModuleIconDisabled"></ion-icon>
					</div>
					<br />
					<div class="ModuleText H5">{{_lang._dict.MainMenu.ShiftPlan}}</div>
				</div>
			</ion-col>
			<ion-col class="margin-left-025 margin-top-025">
				<div id="BtnNews" (click)="changeTab($event)" class="MenuButton">
					<div class="ModuleIconDiv">
						<ion-icon src="assets/icon/notifications.svg" class="ModuleIcon"></ion-icon>
					</div>
					<br />
					<div class="ModuleText H5">{{_lang._dict.MainMenu.NewsFeed}}</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
--></ion-content>
