#content > ion-list {
	background: transparent;
}

#content {
	background-image: url('../../assets/background/background_mobile_uncut.svg');
	background-repeat: no-repeat;
	--background: unset;
	background-size: contain;
	--padding-top: env(safe-area-inset-top);
}

.avatar {
	position: fixed;
	top: calc(1rem + env(safe-area-inset-top));
	right: 1rem;
	background: var(--ion-color-tertiary);

	border: 1px solid var(--ion-color-tertiary);
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
	border-radius: 2rem;

	height: 2rem;
	width: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1000;
}

.page-header {
	text-align: center;
	margin: 3rem 1rem 0 1rem;
	color: white;
}

.box {
	background: var(--ion-background-color);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
	border-radius: 1rem;

	padding: 1rem;
	margin: 0.5rem 1rem;

	&-header {
		text-align: center;
	}

	&-tracking {
		background: var(--ion-color-tertiary);
		border-radius: 0.5rem;
		padding: 0.5rem;
		margin: 0.5rem;

		&-time {
			font-family: 'Europa-Bold';
			font-style: normal;
			font-weight: 700;
			font-size: 3rem;
			line-height: 120%;

			text-align: center;

			color: var(--standard-clickable);
		}

		&-pause {
			text-align: center;

			color: var(--standard-clickable);
		}
	}

	&-shift {
		@extend .box-tracking;

		display: flex;
		padding: 1rem;

		&-date {
			margin-right: 2rem;

			&-date {
				color: var(--text-black);
			}
			&-day {
				color: var(--text-neutral-20);
			}
		}
		&-detail {
			&-header {
				color: var(--text-black);
			}
			&-location {
				color: var(--text-neutral-20);
			}
		}
	}

	&-link {
		color: var(--ion-color-medium);

		display: flex;
		align-items: center;
		justify-content: flex-end;

		&-icon {
			fill: var(--ion-color-medium);
			stroke: var(--ion-color-medium);
			margin-left: 0.25rem;
			margin-right: 0.5rem;
		}

		&-active {
			@extend .box-link;

			color: var(--standard-clickable);

			&-icon {
				fill: var(--standard-clickable);
				stroke: var(--standard-clickable);
				margin-left: 0.25rem;
				margin-right: 0.5rem;
			}
		}
	}
}

.navItem {
	margin: 0.5rem 1rem;

	&-content {
		display: flex;
		align-items: center;
	}
	&-icon {
		margin-right: 1rem;
	}
	&-labels {
		width: -webkit-fill-available;

		&-main {
			color: var(--text-neutral-20);
			&-locked {
				color: var(--text-neutral-10);
			}
		}

		&-sub {
			color: var(--text-neutral-10);
		}
	}

	&-arrowIcon {
		padding: 0.25rem;
		border-radius: 2rem;
		background: #f0effd;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.fixedpos {
  position: absolute;
  right: 40%;
}
