.projectDisplay {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 1rem; // 16px
	line-height: 1.5rem; // 24px
	padding: 0rem;
	margin: 0rem;
	color: var(--text-neutral-20);
}

.activityDisplay {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 0.875rem; // 14px
	line-height: 1.25rem; // 20px
	padding: 0rem;
	margin: 0rem;
	letter-spacing: 0.01rem;
	color: var(--text-neutral-20);
}

.stampTime,
.timeRange {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 0.875rem; // 14px
	line-height: 1.25rem; // 20px
	padding: 0rem;
	letter-spacing: 0.01rem;
	color: var(--text-neutral-10);
}

.stampTime {
	margin: 1rem 0 0 0;
}

.timeRange {
	display: inline-block;
}

.detailItem {
	margin-top: 0.6rem;
}

.leftVisual {
	float: left;
	height: 6rem;
}

.leftVisualForPause {
	height: 4.75rem;
	float: left;
}

.visualCircle {
	background-color: var(--ion-color-dark);
	width: 0.75rem; // 12px
	height: 0.75rem; // 12px
	border-radius: 0.375rem; // 6px
	align-self: center;
	margin-top: 0.4rem;
}

.visualline {
	border: 0.0625rem dashed var(--text-neutral-10);
	width: 0rem;
	margin: 0rem auto;
	height: 65%; // 42px
	margin-top: 0.75rem; // 12px
}

.bookingText {
	margin-left: 1rem;
	width: 100%;
	margin-right: 0.5rem;
}

.stampWorkingTimeMinutes {
	display: inline;
}
.stampWorkingTimeHour {
	display: inline;
}
.stampWorkingHours {
	float: right;
}

#pageHeader {
	--color: var(--text-neutral-20);
	font-family: 'Europa-Regular';
	font-weight: 400;
	font-size: 1.0625rem; // 17px
	line-height: 1.375rem; // 22px
	margin: 0;
	padding: 0;
}

ion-toolbar {
	--background: white !important;
	padding-top: 1.0625rem;
	padding-bottom: 1.0625rem;
}
