<ion-header>
	<ion-toolbar>
		<ion-title id="pageHeader">{{_lang._dict.TimeTracking.DayHistoryHeader}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div class="offlinePrompt" *ngIf="_settings.offlineMode">{{_lang._dict.OfflinePrompt}}</div>
	<ion-list>
		<ion-item
			button="false"
			detail="false"
			lines="none"
			class="ion-align-items-start detailItem"
			*ngFor="let i of _timeRecords">
			<div
				class="leftVisual ion-justify-content-center ion-no-margin"
				slot="start"
				*ngIf="!i.isPauseEntry">
				<div class="visualCircle"></div>
				<div class="visualline"></div>
			</div>
			<div
				class="leftVisualForPause ion-justify-content-center ion-no-margin"
				slot="start"
				*ngIf="i.isPauseEntry">
				<div class="visualCircle"></div>
				<div class="visualline"></div>
			</div>

			<div class="bookingText">
				<div class="projectDisplay" *ngIf="!i.isPauseEntry">Start: {{i.projectName}}</div>
				<div class="activityDisplay" *ngIf="!i.isPauseEntry">{{i.activityName}}</div>
				<div class="projectDisplay" *ngIf="i.isPauseEntry">
					{{_lang._dict.TimeTracking.DayHistoryPause}}
				</div>
				<div class="stampTime">
					<div class="timeRange" *ngIf="i.end != null">
						{{i.start.toFormat('H:mm')}} Uhr - {{i.end.toFormat('H:mm')}} Uhr
					</div>
					<div class="timeRange" *ngIf="i.end == null">{{i.start.toFormat('H:mm')}} Uhr</div>
					<div class="stampWorkingHours" *ngIf="i.end != null">
						<div class="stampWorkingTimeHour" *ngIf="i.workingTime.hours > 0">
							{{i.workingTime.hours.toFixed(0)}}h
						</div>
						<div class="stampWorkingTimeMinutes" *ngIf="i.workingTime.minutes > 0">
							{{i.workingTime.minutes.toFixed(0)}} min
						</div>
					</div>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
