<ion-header>
	<ion-toolbar>
		<ion-title id="pageHeader" class="H5"> {{_lang._dict.ShiftPlanning.SelectMonth}} </ion-title>
	</ion-toolbar>
</ion-header>

<div class="inner-content">
	<ion-list>
		<ion-radio-group [(ngModel)]="selectedMonth">
			<ion-item lines="none" class="list-menu-item" *ngFor="let m of _months">
				<ion-label class="item-text"> {{m.display}} </ion-label>
				<ion-radio slot="start" value="{{m.value}}" mode="md"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</div>
