<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-back-button
			defaultHref="/app/tabs/timesheet-overview"
			slot="start"
			text="{{_lang._dict.TimeSheet.Header}} {{_bookingDate | date:'ww'}}"
			icon="assets/icon/chevron/left.svg"
			*ngIf="_isModal != true"></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content #content fullscreen="true">
	<ion-list *ngIf="leaveTheCompleteDay">
		<div class="offlinePrompt" *ngIf="_settings.offlineMode">{{_lang._dict.OfflinePrompt}}</div>
		<div id="pageHeader">
			<div id="dayDate">{{_bookingDate | date:'dd. MMMM yyyy':'+0100':_lang.locale}}</div>
			<div id="dayStandalone">{{_bookingDate | date:'EEEE':'+0100':_lang.locale}}</div>
			<div class="timeSheetAlert"></div>
		</div>
	</ion-list>
	<ion-list *ngIf="!leaveTheCompleteDay">
		<ion-title class="header">{{_bookingDate | date:'dd. MMMM yyyy':'+0100':_lang.locale}}</ion-title>
		<ion-title class="subHeader">{{_bookingDate | date:'EEEE':'+0100':_lang.locale}}</ion-title>
		<div class="offlinePrompt" *ngIf="_settings.offlineMode">{{_lang._dict.OfflinePrompt}}</div>

		<div class="list-menu-header">{{_lang._dict.TimeSheet.Summary}}</div>
		<div class="summaryBox">
			<div class="box">
				<div class="main">{{_totalWorkTime | date:'H':'+0000'}}h {{_totalWorkTime | date:'mm':'+0000'}}min</div>
				<div class="sub">{{_lang._dict.TimeSheet.WorkTime}}</div>
			</div>
			<div class="box"></div>
			<div class="box">
				<div class="main">{{_totalPauseTime | date:'H':'+0000'}}h {{_totalPauseTime | date:'mm':'+0000'}}min</div>
				<div class="sub">{{_lang._dict.TimeSheet.Pause}}</div>
			</div>
		</div>
		<div class="timeSheetAlert"></div>
		<div class="list-menu-header" id="detailsHeader">{{_lang._dict.TimeSheet.Detail}}</div>

		<ion-item
			button="false"
			detail="false"
			lines="none"
			class="ion-align-items-start detailItem"
			*ngFor="let i of _timeRecords; let j = index">
			<div class="leftVisual ion-justify-content-center ion-no-margin" slot="start" *ngIf="!i.isPauseEntry">
				<div class="visualCircle"></div>
				<div class="visualline" *ngIf="j != _timeRecords.length - 1 || i.end == null"></div>
				<div class="visuallineLast" *ngIf="j == _timeRecords.length - 1 && i.end != null && i.activityId != null"></div>
				<div
					class="visuallineLastWithoutActivity"
					*ngIf="j == _timeRecords.length - 1 && i.end != null && i.activityId == null"></div>
				<div class="visualCircleLast" *ngIf="j == _timeRecords.length - 1 && i.end != null"></div>
			</div>
			<div class="leftVisualForPause ion-justify-content-center ion-no-margin" slot="start" *ngIf="i.isPauseEntry">
				<div class="visualCircle"></div>
				<div class="visualline"></div>
			</div>

			<div class="bookingText">
				<div class="projectDisplay" *ngIf="!i.isPauseEntry">Start: {{i.projectName}}</div>
				<div class="itemSubMenu" (click)="GoToDetails(i)" *ngIf="!i.isPauseEntry && !_settings.offlineMode">
					<ion-icon src="assets/icon/more.svg"></ion-icon>
				</div>
				<div class="activityDisplay" *ngIf="!i.isPauseEntry && i.activityName != null">{{i.activityName}}</div>
				<div class="projectDisplay" *ngIf="i.isPauseEntry">{{_lang._dict.TimeTracking.DayHistoryPause}}</div>
				<div class="stampTime">
					<div class="timeRange" *ngIf="i.start == null && i.end != null">
						<span class="errorStamp">?</span>
						- {{i.end.toFormat('H:mm')}} {{_lang._dict.TimeSheet.TimeUnit}}
					</div>
					<div class="timeRange" *ngIf="i.start != null && i.end != null">
						{{i.start.toFormat('H:mm')}} {{_lang._dict.TimeSheet.TimeUnit }} - {{i.end.toFormat('H:mm') }} {{
						_lang._dict.TimeSheet.TimeUnit}}
					</div>
					<div class="timeRange" *ngIf="i.start != null && i.end == null">
						{{i.start.toFormat('H:mm')}} {{_lang._dict.TimeSheet.TimeUnit}}
					</div>
					<div class="stampWorkingHours" *ngIf="i.end != null">
						<div class="stampWorkingTimeHour" *ngIf="i.workingTime.hours > 0">{{i.workingTime.hours.toFixed(0)}}h</div>
						<div class="stampWorkingTimeMinutes" *ngIf="i.workingTime.minutes > 0">
							{{i.workingTime.minutes.toFixed(0)}} min
						</div>
					</div>
				</div>
				<div
					*ngIf="i.description != null && !i.isPauseEntry && !_settings.offlineMode"
					(click)="GoToDetails(i, true)"
					class="addNoteButton Link1">
					<ion-icon src="assets/icon/edit.svg" class="small"></ion-icon>
					<div class="margin-left-05">{{_lang._dict.TimeSheet.EditNote}}</div>
				</div>
				<div
					*ngIf="i.description == null && !i.isPauseEntry && !_settings.offlineMode"
					(click)="GoToDetails(i, true)"
					class="addNoteButton Link1">
					<ion-icon src="assets/icon/plus.svg" class="small"></ion-icon>
					<div class="margin-left-05">{{_lang._dict.TimeSheet.AddNote}}</div>
				</div>
				<div *ngIf="_settings.offlineMode" class="addNoteButton Link1-Offline">
					<div class="margin-left-05">{{_lang._dict.TimeSheet.AddNoteOffline}}</div>
				</div>
			</div>
		</ion-item>
	</ion-list>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="addStampButton">
		<ion-fab-button color="primary" size="small">
			<ion-icon src="assets/icon/plus.svg" class="white large"></ion-icon>
		</ion-fab-button>
		<ion-fab-list *ngIf="!_settings.offlineMode" side="top">
			<ion-fab-button color="primary" (click)="createNewStamp()" data-desc="Erstellen">
				<ion-icon src="assets/icon/plus.svg" class="white"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="primary" (click)="createPDF()" data-desc="Export">
				<ion-icon src="assets/icon/document.svg" class="white"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
	<!--
	<div class="addStampButton" (click)="createNewStamp()" *ngIf="!_settings.offlineMode">
		<ion-icon class="white large" src="assets/icon/plus.svg"></ion-icon>
	</div>
--></ion-content>
