#backButton {
	font-size: 1.0625rem; //17px
	line-height: 1.375rem; //22px
	--color: var(--standard-clickable);
	display: inline-block;
	--icon-font-size: 1.5rem;
	--icon-margin-end: 1rem;
	--icon-padding-end: 0rem;
	margin-left: 1rem;
}

#pageHeader {
	display: block;
	text-align: left;
	margin-left: 1rem;
}

#dayDate {
	font-size: 2.125rem; //34px
	line-height: 2.5625rem; //41px
	color: var(--text-neutral-20);
}

#dayStandalone {
	font-size: 0.875rem; // 14px
	line-height: 1.25rem; // 20px
	color: var(--text-neutral-10);
}

#summary {
	background-color: var(--ion-color-tertiary);
	font-family: 'Europa-Regular';
	font-weight: 400;
	border-radius: 0.5rem;
	margin: 1rem;
	padding: 1rem;
	height: 5rem;
}

#summary div {
	color: var(--standard-clickable);
}

#worktTime {
	display: inline;
	float: left;
}

#pauseTime {
	display: inline;
	float: right;
	margin-right: 1rem;
}

.list-menu-header {
	font-family: 'Europa-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem; // 20px
	line-height: 1.5rem; // 24px
	color: var(--text-neutral-20);
	margin: 1rem;
	height: 1.5rem;
	padding: 0rem;
}

#detailsHeader {
	margin-top: 2rem;
}

// detail items
.projectDisplay {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 1rem; // 16px
	line-height: 1.5rem; // 24px
	padding: 0rem;
	margin: 0rem;
	color: var(--text-neutral-20);
	display: inline;
}

.activityDisplay {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 0.875rem; // 14px
	line-height: 1.25rem; // 20px
	padding: 0rem;
	margin: 0rem;
	letter-spacing: 0.01rem;
	color: var(--text-neutral-20);
}

.stampTime,
.timeRange {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 0.875rem; // 14px
	line-height: 1.25rem; // 20px
	padding: 0rem;
	letter-spacing: 0.01rem;
	color: var(--text-neutral-10);
}

.stampTime {
	margin: 1rem 0 0 0;
}

.timeRange {
	display: inline-block;
}

.detailItem {
	margin-top: 0.6rem;
}

.detailItem:last-child {
	margin-bottom: 1rem;
}

.leftVisual {
	float: left;
	height: 6rem;
}

.leftVisualForPause {
	height: 4.75rem;
	float: left;
}

.visualCircle {
	background-color: var(--ion-color-dark);
	width: 0.75rem; // 12px
	height: 0.75rem; // 12px
	border-radius: 0.375rem; // 6px
	align-self: center;
	margin-top: 0.4rem;
	&Last {
		@extend .visualCircle;
		margin-top: 0.75rem;
	}
}

.timeSheetAlert {
	margin-right: 1rem;
}

.visualline {
	border: 0.0625rem dashed var(--text-neutral-10);
	width: 0rem;
	margin: 0rem auto;
	height: 100%;
	margin-top: 0.75rem; // 12px
	&Last {
		@extend .visualline;
		height: 65% !important;
		&WithoutActivity {
			@extend .visuallineLast;
			height: 45% !important;
		}
	}
}

.bookingText {
	margin-left: 1rem;
	width: 100%;
	margin-right: 0.5rem;
}

.stampWorkingTimeMinutes {
	display: inline;
}
.stampWorkingTimeHour {
	display: inline;
}
.stampWorkingHours {
	float: right;
}

.addNoteButton {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.subMenuIcon {
	color: var(--standard-clickable);
	height: 1.5rem;
	width: 1.5rem;
}
.itemSubMenu {
	display: inline;
	float: right;
}

.addStampButton {
	position: fixed;
	bottom: calc(3rem + env(safe-area-inset-bottom));
	right: 1rem;
	z-index: 100;
}

ion-fab-button[data-desc] {
	position: relative;
}

ion-fab-button[data-desc]::after {
	position: absolute;
	content: attr(data-desc);
	z-index: 1;
	right: 55px;
	bottom: 4px;
	background-color: var(--ion-color-primary);
	padding: 9px;
	border-radius: 15px;
	color: white;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.errorStamp {
	color: var(--ion-color-danger-shade);
}
