ion-radio {
	--color: var(--text-neutral-20);
	--color-checked: var(--text-neutral-20);
}

.item-radio-checked {
	--background: #f0effd;
}

.list-menu-item {
	--min-height: 3.5rem;
}

.list {
	border-bottom: solid 1px var(--text-neutral-10);
}
