<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="dismiss()">
				<ion-icon src="assets/icon/close.svg"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title class="H5">{{lang._dict.Settings.LanguageChange.Header}}</ion-title>
	</ion-toolbar>
</ion-header>

<div class="inner-content">
	<ion-list class="list">
		<ion-radio-group [(ngModel)]="selectedLanguage">
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{lang._dict.Settings.LanguageChange.German}}</ion-label>
				<ion-radio slot="start" value="german" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{lang._dict.Settings.LanguageChange.English}}</ion-label>
				<ion-radio slot="start" value="english" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{lang._dict.Settings.LanguageChange.French}}</ion-label>
				<ion-radio slot="start" value="french" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{lang._dict.Settings.LanguageChange.Spanish}}</ion-label>
				<ion-radio slot="start" value="spanish" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{lang._dict.Settings.LanguageChange.Polish}}</ion-label>
				<ion-radio slot="start" value="polish" mode="md"></ion-radio>
			</ion-item>
			<ion-item lines="none" class="list-menu-item">
				<ion-label class="Body1">{{lang._dict.Settings.LanguageChange.Italian}}</ion-label>
				<ion-radio slot="start" value="italian" mode="md"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
	<ion-button class="margin-top-1 margin-left-1 margin-right-1" expand="block" (click)="save(true)">
		{{lang._dict.Settings.LanguageChange.Save}}
	</ion-button>
</div>
