<ion-header>
	<ion-toolbar>
		<ion-icon src="assets/icon/close.svg" (click)="closeModal()" slot="start"></ion-icon>
		<ion-title>
			{{_setStart ? _lang._dict.HolidayAccount.NewRequestModal.DateSelection.VacationStartHeader :
			_lang._dict.HolidayAccount.NewRequestModal.DateSelection.VacationEndHeader}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<!--   Start Datetime   -->
		<ion-datetime
			*ngIf="_setStart"
			class="datetime-input"
			min="{{_today}}"
			max="{{_selectedEnd != null ? _selectedEnd.toISO() : _nextYear}}"
			presentation="date"
			[firstDayOfWeek]="1"
			locale="{{_lang.locale}}"
			value="{{_selectedStart != null ? _selectedStart.toISO() : _today}}"
			(ionChange)="startChanged($event)"></ion-datetime>
		<!--   End Datetime   -->
		<ion-datetime
			*ngIf="!_setStart"
			class="datetime-input"
			min="{{_selectedStart != null ? _selectedStart.toISO() : _today}}"
			max="{{_nextYear}}"
			presentation="date"
			locale="{{_lang.locale}}"
			[firstDayOfWeek]="1"
			value="{{_selectedEnd != null ? _selectedEnd.toISO() : _selectedStart.toISO()}}"
			(ionChange)="endChanged($event)"></ion-datetime>
		<!--   Multi Datetime   -->
		<ion-datetime
			*ngIf="!_setStart && _multi"
			class="datetime-input"
			min="{{_today.startOf('year').toISO()}}"
			max="{{_today}}"
			presentation="date"
			locale="{{_lang.locale}}"
			preferWheel="false"
			[multiple]="true"
			[firstDayOfWeek]="1"
			value=""
			(ionChange)="multiChanged($event)"></ion-datetime>

		<div class="custom-footer">
			<ion-button expand="block" id="saveDateButton" class="DefaultButtonL" (click)="saveDate()">
				{{_lang._dict.HolidayAccount.NewRequestModal.DateSelection.SaveButton}}
			</ion-button>
		</div>
	</ion-list>
</ion-content>
