<ion-header class="ion-no-border">
	<ion-toolbar id="analysis-Toolbar">
		<ion-back-button
			slot="start"
			text=""
			defaultHref="/app/tabs/settings"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-title class="header margin-bottom-1"> {{_lang._dict.Settings.Analysis.Header}} </ion-title>
		<ion-item lines="none" details="false">
			<ion-label class="H5"> {{_lang._dict.Settings.Analysis.SendErrorLog}} </ion-label>
			<ion-button slot="end" id="sendErrorLogButton" mode="ios" fill="clear">
				{{_lang._dict.Settings.Analysis.SendErrorLogButton}}
			</ion-button>
		</ion-item>
		<p class="itemDescription Body2">{{_lang._dict.Settings.Analysis.SendErrorLogDescription}}</p>
	</ion-list>
</ion-content>
