#sendErrorLogButton {
	font-family: 'Open Sans';
	font-size: 0.875rem;
	line-height: 1.25rem;
	text-align: right;
	letter-spacing: 0.01rem;
	background-color: var(--ion-color-dark-contrast);
	border: 0rem;
}

.itemDescription {
	margin: 0rem 5.1875rem 0rem 1rem;

	color: var(--text-neutral-10);
}

ion-toggle {
	--background-checked: var(--standard-clickable);
	--handle-background-checked: var(--ion-color-dark-contrast);
}
