<ion-header>
	<ion-toolbar>
		<ion-icon src="../../assets/icon/close.svg" (click)="closeModal()" slot="start"></ion-icon>
		<ion-title> {{_lang._dict.HolidayAccount.NewRequestModal.Header}} </ion-title>
	</ion-toolbar>
</ion-header>
<ion-content id="requestHolidayContent">
	<!--   SUMMARY   -->
	<div class="stickyHeader-padding-top">
		<div
			class="summaryBox margin-left-0 margin-right-0 margin-top-0"
			[ngClass]="{
				'toMuchPlanned' : _plannedDays > _holidayAccount.availableDays
			}">
			<div class="box">
				<div
					class="main center-text"
					[ngClass]="{
						'toMuchPlanned' : _plannedDays > _holidayAccount.availableDays
					}">
					{{_holidayAccount.availableDays | number: '1.0-1' : 'de'}}
					{{_lang._dict.HolidayAccount.Unit}}
				</div>
				<div
					class="sub center-text"
					[ngClass]="{
						'toMuchPlanned' : _plannedDays > _holidayAccount.availableDays
					}">
					{{_lang._dict.HolidayAccount.Available}}
				</div>
			</div>
			<div class="min-width">
				<ion-icon
					src="assets/icon/arrow/right.svg"
					class="iconSize"
					[ngClass]="{
						'toMuchPlanned' : _plannedDays > _holidayAccount.availableDays
					}"></ion-icon>
			</div>
			<div class="box">
				<div
					class="main center-text"
					[ngClass]="{
						'toMuchPlanned' : _plannedDays > _holidayAccount.availableDays
					}">
					{{_plannedDays == 0 ? '-' : (_plannedDays | number: '1.0-1' : 'de')}} {{_plannedDays == 0
					? '' : _lang._dict.HolidayAccount.Unit}}
				</div>
				<div
					class="sub center-text"
					[ngClass]="{
						'toMuchPlanned' : _plannedDays > _holidayAccount.availableDays
					}">
					{{_lang._dict.HolidayAccount.Planned}}
				</div>
			</div>
		</div>
	</div>
	<!--   WHEN SELECTION   -->
	<div id="whenHeader" class="H4">{{_lang._dict.HolidayAccount.NewRequestModal.When}}</div>
	<div id="whenSelection">
		<div
			(click)="selectMethod(0)"
			class="selectionButton DefaultButtonM"
			[ngClass]="{
				'selectedButton': _selectedMethod == 0
			}">
			{{_lang._dict.HolidayAccount.NewRequestModal.SelectDate}}
		</div>
		<div
			(click)="selectMethod(1)"
			class="selectionButton DefaultButtonM"
			[ngClass]="{
				'selectedButton': _selectedMethod == 1
			}">
			{{_lang._dict.HolidayAccount.NewRequestModal.Today}}
		</div>
		<div
			(click)="selectMethod(2)"
			class="selectionButton DefaultButtonM"
			[ngClass]="{
				'selectedButton': _selectedMethod == 2
			}">
			{{_lang._dict.HolidayAccount.NewRequestModal.Tomorrow}}
		</div>
	</div>
	<div id="methodTodayOrTomorrow" *ngIf="_selectedMethod == 1 || _selectedMethod == 2">
		<!--   SINGLE DATE   -->
		<div class="Input1 inputHeader">{{_lang._dict.HolidayAccount.NewRequestModal.Date}}</div>
		<div class="Input1 dateInput">
			<div class="Input1 dateText">{{_selectedValue.toFormat('dd.MM.yyyy')}}</div>
		</div>
		<div class="wholeOrHalfDaySelection" *ngIf="!_singleDayIsWeekEnd">
			<div
				(click)="singleDayAsWholeDay(true)"
				class="selectionButton DefaultButtonM"
				[ngClass]="{
					'selectedButton': _oneDayComplete
				}">
				{{_lang._dict.HolidayAccount.NewRequestModal.CompleteDay}}
			</div>
			<div
				(click)="singleDayAsWholeDay(false)"
				class="selectionButton DefaultButtonM"
				[ngClass]="{
					'selectedButton': !_oneDayComplete
				}">
				{{_lang._dict.HolidayAccount.NewRequestModal.HalfDay}}
			</div>
		</div>
		<div id="SelectedDayNotAvailable" *ngIf="_singleDayIsWeekEnd">
			<ion-icon src="assets/icon/warning.svg" class="small red margin-right-05"></ion-icon>
			<div class="Body2 alertMessage">
				{{_lang._dict.HolidayAccount.NewRequestModal.SelectedDateWeekEnd}}
			</div>
		</div>
	</div>
	<div id="methodSelectRange" *ngIf="_selectedMethod == 0">
		<!--   START DATE   -->
		<div class="Input1 inputHeader">{{_lang._dict.HolidayAccount.NewRequestModal.From}}</div>
		<div class="Input1 dateInput" (click)="startChanges()">
			<div class="dateText Input1" id="displayDateRangeStart">
				{{_selectedStart != null ? _selectedStart.toFormat('dd.MM.yyyy'):
				_lang._dict.HolidayAccount.NewRequestModal.FromPlaceholder}}
			</div>

			<div class="undoDate" *ngIf="_selectedStart != null" (click)="clearDateInput(true)">
				<ion-icon src="assets/icon/close.svg" class="small white"></ion-icon>
			</div>
		</div>
		<div class="wholeOrHalfDaySelection" *ngIf="firstDayIsValid && !startAndEndAreSameDate">
			<div
				(click)="dateRangeStartAsWholeDay(true)"
				class="selectionButton DefaultButtonM"
				[ngClass]="{
					'selectedButton': _firstDayComplete
				}">
				{{_lang._dict.HolidayAccount.NewRequestModal.CompleteDay}}
			</div>
			<div
				(click)="dateRangeStartAsWholeDay(false)"
				class="selectionButton DefaultButtonM"
				[ngClass]="{
					'selectedButton': !_firstDayComplete
				}">
				{{_lang._dict.HolidayAccount.NewRequestModal.HalfDay}}
			</div>
		</div>
		<div id="arrowDown" *ngIf="_selectedStart != null">
			<ion-icon src="assets/icon/arrow/down.svg"></ion-icon>
		</div>
		<!--   END DATE   -->
		<div class="Input1 inputHeader" *ngIf="_selectedStart != null">
			{{_lang._dict.HolidayAccount.NewRequestModal.To}}
		</div>

		<div *ngIf="_selectedStart != null" class="Input1 dateInput">
			<div class="dateText Input1" id="displayDateRangeEnd" (click)="endChanges()">
				{{_selectedEnd != null ? _selectedEnd.toFormat('dd.MM.yyyy') :
				_lang._dict.HolidayAccount.NewRequestModal.ToPlaceholder}}
			</div>
			<div class="undoDate" *ngIf="_selectedEnd != null" (click)="clearDateInput(false)">
				<ion-icon src="assets/icon/close.svg" class="small white"></ion-icon>
			</div>
		</div>
		<div class="wholeOrHalfDaySelection" *ngIf="lastDayIsValid">
			<div
				(click)="dateRangeEndAsWholeDay(true)"
				class="selectionButton DefaultButtonM"
				[ngClass]="{
					'selectedButton': _lastDayComplete
				}">
				{{_lang._dict.HolidayAccount.NewRequestModal.CompleteDay}}
			</div>
			<div
				(click)="dateRangeEndAsWholeDay(false)"
				class="selectionButton DefaultButtonM"
				[ngClass]="{
					'selectedButton': !_lastDayComplete
				}">
				{{_lang._dict.HolidayAccount.NewRequestModal.HalfDay}}
			</div>
		</div>
		<div class="toManyDaysPlannedAlert" *ngIf="_plannedDays > _holidayAccount.availableDays">
			<ion-icon src="assets/icon/warning.svg" class="medium dangerIcon"></ion-icon>
			<div class="ToManyPlannedAlertText Body2">
				{{_lang._dict.HolidayAccount.NewRequestModal.ToManyDaysPlanned}}
			</div>
		</div>
	</div>
	<!--   NOTE   -->
	<div id="addNoteButton" *ngIf="!_addNote" (click)="_addNote = true">
		<ion-icon src="assets/icon/plus.svg"></ion-icon>
		<div id="addNoteText" class="Link1">
			{{_lang._dict.HolidayAccount.NewRequestModal.AddNoteText}}
		</div>
	</div>
	<div id="noteAdded" *ngIf="_addNote">
		<div id="noteHeader" class="Input1">
			{{_lang._dict.HolidayAccount.NewRequestModal.NoteHeader}}
		</div>
		<!--
		<custom-textarea [(value)]="_description" [autoGrow]="true" name="lolol"></custom-textarea>
		-->
		<ion-textarea
			inputmode="text"
			spellcheck="true"
			class="Input1"
			auto-grow="true"
			wrap="hard"
			[(ngModel)]="_description"></ion-textarea>
		<div id="deleteNote" (click)="_addNote = false">
			<ion-icon src="assets/icon/delete.svg" class="iconSize"></ion-icon>
			<div id="deleteNoteLabel" class="Link1">
				{{_lang._dict.HolidayAccount.NewRequestModal.DeleteNoteText}}
			</div>
		</div>
	</div>
</ion-content>
<ion-footer>
	<div id="saveRequest">
		<ion-button
			(click)="saveRequest()"
			expand="block"
			id="saveButton"
			[disabled]="disabledSaveButton">
			{{_lang._dict.HolidayAccount.NewRequestModal.Save}}
		</ion-button>
	</div>
</ion-footer>
