ion-content > div {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.dateInput {
	margin-bottom: 1rem !important;
	background: var(--ion-color-light-tint);
	border-radius: 0.5rem;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	width: 100%;
	color: var(--text-neutral-20);
	display: flex;
	align-items: center;
}

.dateText {
	width: 95%;
}

#deleteNote {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	width: fit-content;
}

#deleteNoteLabel {
	margin-left: 0.5rem;
}

.undoDate {
	background: var(--ion-color-medium-tint);
	border-radius: 3rem;
	display: flex;
}

.clearInputColor {
	fill: white;
}

.inputHeader {
	margin-bottom: 0.5rem !important;
}

#methodSelectRange > div {
	margin-bottom: 1rem;
}

#saveButton {
	margin: 1rem;
}

#saveRequest {
	//position: absolute;
	background-color: white;
	//bottom: 0;
	border-top: 1px solid var(--ion-color-medium);
	width: 100%;
	margin: 0;
	margin-bottom: 1rem;
}

.summaryText {
	color: var(--standard-clickable);
	text-align: center;
}

#addNoteButton,
#arrowDown,
.wholeOrHalfDaySelection {
	color: var(--standard-clickable);
}

.selectionButton {
	padding: 0.625rem 0.75rem;
	background: white;
	border: 0.125rem solid var(--standard-clickable);
	border-radius: 2.25rem;
	color: var(--standard-clickable);
	min-inline-size: fit-content;
}

.selectedButton {
	background: var(--standard-clickable) !important;
	color: white !important;
}

#whenSelection,
.wholeOrHalfDaySelection {
	display: flex;
	overflow-x: scroll;
}

#whenSelection > div,
.wholeOrHalfDaySelection > div {
	margin-right: 0.5rem;
}

#addNoteButton {
	display: flex;
	align-items: center;
}

#addNoteText {
	margin-left: 0.5rem;
}

#noteInput {
	--background: var(--ion-color-light-tint);

	border-radius: 0.5rem;

	padding: 0.625rem 0.75rem;
	--padding-top: 0.625rem;
	--padding-bottom: 0.625rem;
	--padding-start: 0.75rem;
	--padding-end: 0.75rem;
}

#noteHeader {
	margin-bottom: 0.5rem;
}

ion-popover::part(content) {
	top: unset !important;
	left: 0 !important;
	bottom: 0;
	width: 100vw;
	border-radius: 0;
}

#SelectedDayNotAvailable {
	background-color: var(--ion-color-danger);
	padding: 0.75rem 1rem;
	display: flex;
	border-radius: 1rem;
	margin-top: 1rem;
}

.dangerIcon {
	fill: var(--ion-color-danger-shade);
	margin-right: 0.5rem;
}

.alertMessage {
	color: var(--ion-color-danger-shade);
}

#noteAdded {
	margin-top: 1rem;
}

.toMuchPlanned {
	color: var(--ion-color-danger-shade) !important;
	background-color: var(--ion-color-danger) !important;
	fill: var(--ion-color-danger-shade) !important;
}

.toManyDaysPlannedAlert {
	display: flex;
	background-color: var(--ion-color-danger);
	border-radius: 1rem;
	width: 100%;
	padding: 0.75rem 1rem;
	align-items: center;
}

.ToManyPlannedAlertText {
	color: var(--ion-color-danger-shade);
}
