.item-radio-checked {
	--background: var(--ion-color-tertiary-tint);
}

.item-text {
	color: var(--ion-color-dark);
}

.list-menu-item {
	--min-height: 3.5rem;
	--inner-padding-end: 1rem;
	--border-color: var(--ion-color-medium);
}

ion-radio {
	--color: var(--text-neutral-20);
	--color-checked: var(--text-neutral-20);
}

.DismissButton {
	width: -webkit-fill-available;
	margin: 1rem;
}

.toolbar {
	position: relative;
	top: 0.5rem;
	border-top: 1px solid var(--ion-color-medium);
	margin-bottom: 0.25rem;
}
