<ion-header>
	<ion-toolbar>
		<ion-icon
			src="../../assets/icon/close.svg"
			(click)="DismissModal()"
			slot="start"
			*ngIf="!_showReturnButton"></ion-icon>
		<ion-icon
			src="../../assets/icon/chevron/left.svg"
			(click)="DismissModal()"
			slot="start"
			*ngIf="_showReturnButton"></ion-icon>
		<ion-title>{{_header}}</ion-title>
	</ion-toolbar>
</ion-header>

<div class="inner-content">
	<ion-list>
		<ion-radio-group value="{{_inputPreselected}}" (ionChange)="selectionChanged($event)">
			<ion-item lines="none" class="list-menu-item" *ngFor="let item of _inputList; let i = index">
				<ion-label class="item-text Body1">{{item._name}}</ion-label>
				<ion-radio slot="start" value="{{item._value}}" mode="md"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
	<div class="toolbar" *ngIf="_showSaveButton">
		<ion-button class="DismissButton" (click)="DismissModal(true)">
			{{_lang._dict.Settings.SecurityPage.PinPage.Save}}
		</ion-button>
	</div>
</div>
