<ion-header class="ion-no-border">
	<ion-toolbar *ngIf="false">
		<ion-back-button
			slot="start"
			text=""
			defaultHref="/app/tabs/main-menu"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
	<ion-title class="header">
		{{_lang._dict.ShiftPlanning.Title}}
		<ion-icon src="assets/icon/date.svg" (click)="selectMonth()"></ion-icon>
	</ion-title>
	<ion-title class="subHeader">{{selectedMonth.toFormat("MMMM yyyy")}}</ion-title>
</ion-header>

<ion-content>
	<ion-list>
		<div class="offlinePrompt" *ngIf="_settings.offlineMode">{{_lang._dict.OfflinePrompt}}</div>

		<div class="margin-top-2">
			<div class="cards" *ngFor="let item of _shifts; let in = index;">
				<ion-card
					class="shiftCards-activated margin-top-1 margin-bottom-1"
					(click)="openDetails(item)"
					*ngIf="in == 0 && _tracking.isTracking && _currentDay == item.shiftDate">
					<ion-card-content>
						<div class="timeTracked margin-top-1 margin-bottom-1 SubTitle2">
							<ion-icon src="assets/icon/shiftTracking.svg" class="small margin-right-05"></ion-icon>
							{{_lang._dict.ShiftPlanning.TrackingActive}}
						</div>
						<div class="cardContent">
							<div class="dateColumn H5">
								{{item.shiftDate | date : 'dd.MM' : '+0200'}}
								<div class="shortHandDay SubTitle2">{{item.shiftDate | date: 'EE' : '+0200' : _lang.locale}}</div>
							</div>
							<div class="detailColumn-activated H5">
								{{item.shiftName}}
								<div class="location SubTitle2">{{item.customerLocation}}</div>
							</div>
						</div>
					</ion-card-content>
				</ion-card>

				<ion-card
					class="shiftCards margin-top-1 margin-bottom-1"
					*ngIf="in > 0 || !_tracking.isTracking || _currentDay != item.shiftDate"
					(click)="openDetails(item)">
					<ion-card-content>
						<div class="cardContent">
							<div class="dateColumn H5">
								{{item.shiftDate | date : 'dd.MM' : '+0200'}}
								<div class="shortHandDay SubTitle2">{{item.shiftDate | date: 'EE': '+0200': _lang.locale}}</div>
							</div>
							<div class="detailColumn H5">
								{{item.shiftName}}
								<div class="location SubTitle2">{{item.customerLocation}}</div>
							</div>
						</div>
					</ion-card-content>
				</ion-card>
			</div>
		</div>
		<div class="margin-left-1 margin-right-1 margin-top-2" id="noShifts" *ngIf="_shifts.length <= 0" lines="none">
			<div class="margin-right-05">
				<ion-icon src="assets/icon/info.svg" class="medium black"></ion-icon>
			</div>
			<div class="Body2">{{_lang._dict.ShiftPlanning.NoShifts}}</div>
		</div>
	</ion-list>
</ion-content>
