.shiftCards {
	height: 4rem;
	&-activated {
		@extend .shiftCards;
		height: 6.5rem;
		background: var(--ion-color-tertiary);
	}
}

ion-card-content {
	padding-top: 0.8rem !important;
}

.shiftCards-activated .timeTracked {
	color: var(--standard-clickable) !important;
	display: flex;
	align-items: center;
}

.shiftCards-activated > ion-card-content {
	padding-top: 0rem !important;
}

.location {
	color: var(--text-neutral-20);
}

.detailColumn-activated {
	color: var(--standard-clickable) !important;
}

.cardContent {
	display: flex;
}

.dateColumn {
	position: relative;
	left: 0px;
	top: 0px;
	width: 5rem;
	height: 100%;
}

.detailColumn {
	position: relative;
	left: 0px;
	top: 0px;
	width: 14rem;
	height: 100%;
}

#noShifts {
	background: var(--info-bg);
	border-radius: 1rem;
	color: var(--text-neutral-20);
	box-shadow: none !important;
	display: flex;
	padding: 0.75rem 1rem;
}

.timeTracked {
	width: 100%;
}

.header {
	margin-top: 1rem;
}

.subHeader {
	height: unset !important;
}
