ion-label,
p,
ion-title {
	color: var(--text-neutral-20);
	background: transparent;
}

.contentBox {
	margin-top: 2rem;
}

.ion-select {
	--color: var(--text-neutral-20);
}

.SelectBox {
	background: var(--ion-color-neutral-tint);
	height: 44px;
	padding: 10px 12px 10px 12px;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
}

.selectText {
	color: var(--text-disabled);
	display: flex;
	align-items: center;

	&-active {
		@extend .selectText;
		color: var(--text-neutral-20);
	}
}

ion-content {
	--padding-start: 1rem;
	--padding-end: 1rem;
}

ion-toolbar {
	--background: white !important;
	/*padding-bottom: 1rem !important;*/
	&-break {
		@extend ion-toolbar;
		--background: var(--ion-color-tertiary);
	}
}

.camTracking {
	position: relative;
	top: 5rem;
	width: 100%;
}

.QRButton {
	width: 100%;
}

#page-header {
	text-align: initial;
}

.Stampin-Label {
	margin-bottom: 1rem;
	display: flex;
}

.startSlider {
	width: 100%;
	height: 3rem;
	background: var(--ion-color-light-shade);
	border-radius: 1.875rem;
	text-align: center;
	margin-top: 1.5rem;

	&-ready {
		@extend .startSlider;
		background: var(--ion-color-tertiary-tint);
	}
}

.sliderButton {
	width: 2.5rem;
	height: 2.5rem;
	background: white;
	position: relative;
	top: 0.25rem;
	left: 0.25rem;
	border-radius: 1.25rem;
	/*writing-mode: vertical-lr;*/
	text-align: center;

	&-ready {
		@extend .sliderButton;
		background: var(--ion-color-primary);
	}
}
.sliderText {
	position: relative;
	bottom: 50%;
	color: var(--text-disabled);
	&-ready {
		@extend .sliderText;
		color: var(--ion-color-primary);
	}
}

.arrowImage {
	width: 100%;
	height: 70%;
	position: relative;
	top: 0.35rem;
	margin-left: auto !important;
	margin-right: auto !important;

	&-disabled {
		@extend .arrowImage;
		fill: var(--text-disabled);
	}
}

.datetime {
	margin-block-end: 0em;
	color: var(--text-neutral-10);
	margin-right: 1rem;
}
