<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title id="page-header" class="ion-padding-start ion-padding-end H1">
			{{_lang._dict.TimeTracking.Header}}
		</ion-title>
		<p class="datetime SubTitle2" slot="end">{{today.toFormat('EEE, dd.MM.yyyy')}}</p>
	</ion-toolbar>
</ion-header>

<ion-content cache-view="false" scroll-y="false">
	<!--<div id="alertPrompt"></div>-->
	<div class="contentBox">
		<!--<ion-button (click)="_alertProvider.ShowAlertPrompt('I am a test', 'success')">Show Success Message</ion-button>
        <ion-button (click)="_alertProvider.ShowAlertPrompt('I am a test', 'none')">Hide Message</ion-button>-->

		<div class="Stampin-Label H4" *ngIf="!useOnlyQr">
			<ion-icon src="../../assets/icon/edit.svg" class="black margin-right-05"></ion-icon>
			<span>{{_lang._dict.TimeTracking.ManualStamp}}</span>
		</div>
        <!--
                <div
                    class="SelectBox"
                    (click)="changeSelectedProject()"
                    *ngIf="this.projectsAreAvailable && !useOnlyQr">
                    <div
                        class="selectText Input1"
                        *ngIf="(_selectedProject == null || _selectedProject == '') && activitiesAreAvailable">
                        <ion-icon src="assets/icon/plus.svg" class="gray margin-right-05"></ion-icon>
                        <span> {{_lang._dict.TimeTracking.ChooseProject}} </span>
                    </div>
                    <div class="selectText-active Input1" *ngIf="_selectedProject != null">
                        {{_selectedProject}}
                    </div>
                </div>


                <div
                    class="SelectBox"
                    (click)="assignActivity()"
                    *ngIf="this.projectsAreAvailable && !useOnlyQr">
                    <div
                        class="selectText Input1"
                        *ngIf="(_selectedActivity == null || _selectedActivity == '') && activitiesAreAvailable">
                        <ion-icon src="assets/icon/plus.svg" class="gray margin-right-05"></ion-icon>
                        <span> {{_lang._dict.TimeTracking.ChooseActivity}} </span>
                    </div>
                    <div
                        class="selectText Input1"
                        *ngIf="(_selectedActivity == null || _selectedActivity == '') && !activitiesAreAvailable">
                        <span> {{_lang._dict.TimeTracking.NoActivityAvailable}} </span>
                    </div>
                    <div class="selectText-active Input1" *ngIf="_selectedActivity != null">
                        {{_selectedActivity}}
                    </div>
                </div>-->

		<!--        <ion-button *ngIf="_selectedProject == null || _selectedProject == ''" (click)="startTracking()" disabled> {{_lang._dict.StartTracking}} </ion-button>
        <ion-button *ngIf="_selectedProject != null && _selectedProject != ''" (click)="startTracking()"> {{_lang._dict.StartTracking}} </ion-button>
-->
		<div
			*ngIf="!useOnlyQr"
			id="startSlider"
			[ngClass]="{
                'startSlider': !isSliderActive,
                'startSlider-ready': isSliderActive
                }">
			<div
				id="sliderButton"
				[ngClass]="{
					'sliderButton': !isSliderActive,
					'sliderButton-ready': isSliderActive
                }">
				<!--<img style="fill: white;" src="../../assets/icon/arrow/right.svg">-->
				<ion-icon
					[ngClass]="{
					'arrowImage': isSliderActive,
					'arrowImage-disabled': !isSliderActive
                }"
					class="white"
					src="../../assets/icon/arrow/right.svg"
					alt=""></ion-icon>
			</div>
			<div
				class="sliderText DefaultButtonM"
				[ngClass]="{
				'sliderText': !isSliderActive,
				'sliderText-ready': isSliderActive
				}">
				{{_lang._dict.TimeTracking.DragForStamp}}
			</div>
		</div>

        <!--
		<div class="camTracking">
			<div class="Stampin-Label H4">
				<ion-icon src="../../assets/icon/camera.svg" class="black margin-right-05"></ion-icon>
				<span> {{_lang._dict.TimeTracking.WithCamera}} </span>
			</div>
			<ion-button (click)="scanQr()" class="QRButton DefaultButtonL">
				{{_lang._dict.TimeTracking.WithCameraButton}}
			</ion-button>
		</div>
		-->
	</div>
</ion-content>
