<ion-header class="ion-no-border">
	<ion-toolbar id="security-Toolbar">
		<ion-back-button
			defaultHref="/app/tabs/settings"
			text=""
			slot="start"
			icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-title class="header margin-bottom-1">
			{{_lang._dict.Settings.SecurityPage.Header}}
		</ion-title>
		<ion-item
			detail="true"
			button="true"
			lines="inset"
			(click)="changePW()"
			class="list-menu-item"
			detail-icon="assets/icon/chevron/right.svg">
			<ion-label class="H5"> {{_lang._dict.Settings.SecurityPage.PasswordChange}}</ion-label>
		</ion-item>
		<ion-item
			detail="true"
			button="true"
			detail-icon="assets/icon/chevron/right.svg"
			lines="none"
			*ngIf="!_settings.fingerprintIsAvailable"
			[routerLink]="['/app/tabs/settings/security/pin-change']"
			class="list-menu-item">
			<ion-label class="H5"> {{_lang._dict.Settings.SecurityPage.PinChange}} </ion-label>
		</ion-item>
		<ion-item
			detail="true"
			button="true"
			detail-icon="assets/icon/chevron/right.svg"
			lines="inset"
			[routerLink]="['/app/tabs/settings/security/pin-change']"
			*ngIf="_settings.fingerprintIsAvailable"
			class="list-menu-item">
			<ion-label class="H5"> {{_lang._dict.Settings.SecurityPage.PinChange}} </ion-label>
		</ion-item>
		<ion-item class="list-menu-item" lines="none" *ngIf="_settings.fingerprintIsAvailable">
			<ion-label class="H5" *ngIf="_settings.fingerType == 'biometric'">
				{{_lang._dict.Settings.SecurityPage.Fingerprint}}
			</ion-label>
			<ion-label class="H5" *ngIf="_settings.fingerType == 'face'">
				{{_lang._dict.Settings.SecurityPage.FaceId}}
			</ion-label>
			<ion-toggle [(ngModel)]="_settings.useFingerprint" slot="end"></ion-toggle>
		</ion-item>
	</ion-list>
</ion-content>
