.card {
	width: 100%;
	margin: 0rem;

	&-content {
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
		border-radius: 0.75rem;
		padding: 1rem;
		margin: 0rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-bottom {
		height: 5.375rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		overflow-y: hidden;

		&-line {
			display: flex;
			width: 0;
			border: 1px dashed var(--standard-clickable);
			height: 1.5625rem;
		}
		&-add {
			display: flex;
			border-radius: 3rem;
			box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
			background: var(--standard-clickable);
			padding: 0.5rem;
		}
	}
}

.card-content > ion-list {
	width: 100%;
}

.card-content > ion-list > ion-item {
	--padding-start: 0;
	--padding-end: 0;
}

.textColorNeutral20 {
	--color: var(--text-neutral-20);
}

.inputText {
	--color: var(--text-neutral-10);
}

.deleteStamp {
	color: var(--ion-color-danger-shade) !important;
	--color: var(--ion-color-danger-shade) !important;
}

.Link1 {
	--color: var(--standard-clickable);
}

.input-field {
	background-color: var(--ion-color-neutral-tint);
	border-radius: 0.5rem;
	width: 50%;
	text-align: left;
	padding: 0.875rem 0.75rem;
	margin: 0;
}

#saveButton {
	margin: 1rem;
}

.bottom {
	border-top: 1px solid var(--ion-color-medium);
	position: relative;
	width: 100%;
	&-fixed {
		@extend .bottom;
		position: fixed;
		bottom: 0rem;
	}
}

.noteText {
	--border-radius: 0.5rem;
	--padding-start: 0.75rem !important;
	--padding-end: 0.75rem !important;
	--padding-top: 0.875rem !important;
	--padding-bottom: 0.875rem !important;
}

.noteText .native-textarea:active {
	border: 1px var(--standard-clickable) solid;
}

#savenote {
	display: flex;
	position: absolute;
	right: 1rem;
}

#addnote {
	display: flex;
}
