<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-back-button (click)="goBack()" slot="start" text="" icon="assets/icon/chevron/left.svg"></ion-back-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-title class="header margin-bottom-1">{{_lang._dict.TimeSheet.CreateStamp.Header}}</ion-title>
	<div class="card" *ngFor="let stamp of stamps; let first = first; let last = last; let index = index">
		<div class="card-content">
			<ion-list>
				<ion-item
					*ngIf="projects ? projects.length > 0 : false"
					detail="true"
					lines="none"
					(click)="editProject(stamp)"
					class="selectionItems"
					detail-icon="assets/icon/chevron/right.svg">
					<ion-label class="Body1 inputText">{{_lang._dict.TimeSheet.CreateStamp.Project}}</ion-label>
					<ion-label class="Body1 textColorNeutral20" slot="end">
						{{stamp.project ? stamp.project.name : _lang._dict.TimeSheet.CreateStamp.TimeSelectionPlaceholder}}
					</ion-label>
				</ion-item>
				<ion-item
					*ngIf="activities ? activities.length > 0 : false"
					detail="true"
					lines="none"
					(click)="editActivity(stamp)"
					class="selectionItems"
					detail-icon="assets/icon/chevron/right.svg">
					<ion-label class="Body1 inputText">{{_lang._dict.TimeSheet.CreateStamp.Activity}}</ion-label>
					<ion-label class="Body1 textColorNeutral20" slot="end">
						{{stamp.activity ? stamp.activity.name : _lang._dict.TimeSheet.CreateStamp.TimeSelectionPlaceholder}}
					</ion-label>
				</ion-item>
				<ion-item detail="false" lines="none">
					<ion-label class="Body1 inputText">{{_lang._dict.TimeSheet.CreateStamp.Start}}</ion-label>
					<div class="Input1 input-field" slot="end" id="start-time" (click)="editTimestamp($event, true, stamp)">
						{{stamp.start == null ? _lang._dict.TimeSheet.CreateStamp.TimeSelectionPlaceholder
						:stamp.start.toFormat('HH:mm')}}
					</div>
				</ion-item>
				<!--
			<ion-popover trigger="start-time" side="top" alignment="end" size="auto" triggerAction="click">
				<ng-template>
					<ion-content class="ion-padding">
						<ion-datetime
						presentation="time"
						locale="{{_lang.locale}}"
						[(ngModel)]="startTime"></ion-datetime>
					</ion-content>
			</ng-template>
		</ion-popover>
	-->
				<ion-item detail="false" lines="none">
					<ion-label class="Body1 inputText">{{_lang._dict.TimeSheet.CreateStamp.End}}</ion-label>
					<div class="Input1 input-field" slot="end" id="end-time" (click)="editTimestamp($event, false, stamp)">
						{{stamp.end == null ? _lang._dict.TimeSheet.CreateStamp.TimeSelectionPlaceholder :
						stamp.end.toFormat('HH:mm')}}
					</div>
				</ion-item>
				<!--
		<ion-popover trigger="end-time" side="top" alignment="end" size="auto" triggerAction="click">
			<ng-template>
				<ion-content class="ion-padding">
					<ion-datetime
					presentation="time"
					locale="{{_lang.locale}}"
					[(ngModel)]="endTime"></ion-datetime>
				</ion-content>
			</ng-template>
		</ion-popover>
	-->
				<ion-item detail="false" lines="none" *ngIf="!stamp.noteIsAdded">
					<ion-icon src="assets/icon/plus.svg" class="medium margin-right-05"></ion-icon>
					<ion-label (click)="addnote(stamp)" class="Link1">
						{{_lang._dict.TimeSheet.CreateStamp.AddDescription}}
					</ion-label>
				</ion-item>
				<ion-item *ngIf="stamp.noteIsAdded" id="noteItem" lines="none" detail="false">
					<ion-textarea
						placeholder="{{_lang._dict.TimeSheet.CreateStamp.notePlaceholder}}"
						class="Body1 noteText"
						autoGrow="true"
						(ionChange)="noteChanged($event, stamp)"
						[value]="stamp.note"
						spellcheck="true"></ion-textarea>
				</ion-item>
				<ion-item detail="false" lines="none" *ngIf="stamp.noteIsAdded">
					<div id="addnote">
						<ion-icon src="assets/icon/minus.svg" class="medium margin-right-05"></ion-icon>
						<ion-label (click)="addnote(stamp, true)" class="Link1">
							{{_lang._dict.TimeSheet.CreateStamp.RemoveDescription}}
						</ion-label>
					</div>

					<div id="savenote">
						<ion-icon src="assets/icon/check.svg" class="medium margin-right-05"></ion-icon>
						<ion-label (click)="savenote(stamp)" class="Link1">
							{{_lang._dict.TimeSheet.EditStamp.SaveDescription}}
						</ion-label>
					</div>
				</ion-item>
				<ion-item detail="false" lines="none" [disabled]="isDeleteButtonDisabled">
					<ion-icon src="assets/icon/delete.svg" class="red medium margin-right-05"></ion-icon>
					<ion-label (click)="deleteStamp(first, last, index)" class="Link1 deleteStamp">
						{{_lang._dict.TimeSheet.CreateStamp.DeleteStamp}}
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
		<div class="card-bottom">
			<div class="card-bottom-line"></div>
			<div class="card-bottom-add" (click)="addStamp(last, index)">
				<ion-icon src="assets/icon/plus.svg" class="white medium"></ion-icon>
			</div>
			<div class="card-bottom-line" *ngIf="!last"></div>
		</div>
	</div>
	<div
		[ngClass]="{
			'bottom-fixed': stamps.length <= 1 && !isKeyboardShown,
			'bottom': stamps.length > 1 || isKeyboardShown
		}">
		<ion-button expand="block" id="saveButton" [disabled]="isSaveButtonDisabled" (click)="saveChanges()">
			{{_lang._dict.TimeSheet.CreateStamp.SaveButton}}
		</ion-button>
	</div>
	<!--
	
	[disabled]="!isSaveButtonEnabled"
--></ion-content>
