/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$selectedTextareaBorder: none;

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
	font-family: 'Europa-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/EuropaRegular.ttf');
}

@font-face {
	font-family: 'Europa-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/EuropaBold.ttf');
}

.alertPrompt {
	font-family: 'Europa-Regular' !important;
	font-size: 1rem;
	text-align: center;
	height: 3rem;
	border-radius: 0.5rem;
	padding-top: 0.8rem;
	margin-top: 2rem;

	&-success {
		@extend .alertPrompt;
		background-color: var(--ion-color-success);
		color: var(--ion-color-success-shade);
	}

	&-warning {
		@extend .alertPrompt;
		background-color: var(--ion-color-warning);
		color: var(--ion-color-warning-shade);
	}
	&-danger {
		@extend .alertPrompt;
		background-color: var(--ion-color-danger);
		color: var(--ion-color-danger-shade);
	}
}

.H {
	font-family: 'Europa-Regular' !important;
	font-style: normal;
	font-weight: 400;
	--color: var(--text-neutral-20);
	color: var(--text-neutral-20);

	&1 {
		@extend .H;
		font-size: 2.125rem !important;
		line-height: 2.5625rem !important;
	}

	&2 {
		@extend .H;
		font-size: 1.75rem !important;
		line-height: 2.125rem !important;
	}

	&3 {
		@extend .H;
		font-size: 1.375rem !important;
		line-height: 1.75rem !important;
	}

	&4 {
		@extend .H;
		font-size: 1.25rem !important;
		line-height: 1.5rem !important;
	}

	&5 {
		@extend .H;
		font-size: 1.0625rem !important;
		line-height: 1.375rem !important;
	}
}

.SubTitle {
	font-family: 'Europa-Regular' !important;
	font-style: normal;
	font-weight: 400;
	--color: var(--text-neutral-20);
	color: var(--text-neutral-20);

	&1 {
		@extend .SubTitle;
		font-size: 1rem !important;
		line-height: 1.5rem !important;
	}

	&2 {
		@extend .SubTitle;
		font-size: 0.875rem !important;
		line-height: 1.25rem !important;
	}
}

.offlinePrompt {
	position: relative;
	width: 100vw;
	height: 1.5rem;
	font-size: 10px;
	line-height: 1.5rem;
	background: var(--ion-color-light-shade);
	color: var(--text-neutral-20);
	text-align: center;
	margin-bottom: 1rem;
}

.Body {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.01rem !important;
	--color: var(--text-neutral-20);
	color: var(--text-neutral-20);

	&1 {
		@extend .Body;
		font-size: 1rem !important;
		line-height: 1.5rem !important;

		&-Bold {
			@extend .Body1;
			font-weight: 700;
		}
	}

	&2 {
		@extend .Body;
		font-size: 0.875rem !important;
		line-height: 1.25rem !important;

		&-Bold {
			@extend .Body2;
			font-weight: 700;
		}
	}
}

.DefaultButton {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: 600;

	&L {
		@extend .DefaultButton;
		font-size: 1.25rem !important;
		line-height: 1.25rem !important;
	}

	&M {
		@extend .DefaultButton;
		font-size: 1rem !important;
		line-height: 1rem !important;
	}

	&S {
		@extend .DefaultButton;
		font-size: 0.875rem !important;
		line-height: 0.875rem !important;
	}
}

.Caption {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem !important;
	line-height: 1rem !important;
	letter-spacing: 0.015rem !important;
	--color: var(--text-neutral-20);
	color: var(--text-neutral-20);
}

.Overline {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: 400;
	font-size: 0.625rem !important;
	line-height: 1rem !important;
	letter-spacing: 0.05rem !important;
	text-transform: uppercase;
	--color: var(--text-neutral-20);
	color: var(--text-neutral-20);
}

.Link {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.01rem !important;
	--color: var(--standard-clickable);
	color: var(--standard-clickable);

	&1 {
		@extend .Link;
		font-size: 1rem !important;
		line-height: 1.5rem !important;

		&-Underlined {
			@extend .Link1;
			text-decoration: underline;
		}
	}

	&2 {
		@extend .Link;
		font-size: 0.875rem !important;
		line-height: 1.25rem !important;

		&-Underlined {
			@extend .Link2;
			text-decoration: underline;
		}
	}

	&1-Offline {
		@extend .Link;
		font-size: 1rem !important;
		line-height: 1.5rem !important;
		--color: var(--ion-color-danger-shade);
		color: var(--ion-color-danger-shade);

		&-Underlined {
			@extend .Link1-Offline;
			text-decoration: underline;
		}
	}
}

.Input {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.01rem !important;
	--color: var(--text-neutral-20);
	color: var(--text-neutral-20);

	&1 {
		@extend .Input;
		font-size: 1rem !important;
		line-height: 1rem !important;

		&-Bold {
			@extend .Input1;
			font-size: 0.875rem !important;
			line-height: 0.875rem !important;
			font-weight: 700;
		}
	}

	&2 {
		@extend .Input;
		font-size: 0.875rem !important;
		line-height: 0.875rem !important;

		&-Bold {
			@extend .Input2;
			font-size: 0.75rem !important;
			line-height: 0.75rem !important;
			font-weight: 700;
		}
	}
}

.HelperText {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.015rem !important;
	--color: var(--text-neutral-20);
	color: var(--text-neutral-20);

	&1 {
		@extend .HelperText;
		font-size: 0.75rem !important;
		line-height: 0.75rem !important;
	}

	&2 {
		@extend .HelperText;
		font-size: 0.625rem !important;
		line-height: 0.625rem !important;
	}
}

// general settings

html {
	font-size: 14px;
	@media (min-width: 375px) and (min-height: 800px) {
		font-size: 16px;
	}
}

ion-item {
	--detail-icon-color: var(--standard-clickable) !important;
	--detail-icon-font-size: 1.5rem;
	--detail-icon-opacity: 1;

	--padding-start: 1rem;
	--padding-end: 1rem;
	--inner-padding-end: 0rem;
}

ion-content {
	--padding-bottom: 0rem;
	--padding-top: 0rem;
	--padding-start: 0rem;
	--padding-end: 0rem;
}

ion-grid {
	padding-left: 1rem;
	padding-right: 1rem;
}

ion-datetime {
	--background: white;
}

ion-header,
ion-footer {
	background: var(--ion-background-color);
	padding-top: env(safe-area-inset-top) !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem;
	padding-right: 0rem;
}

ion-modal ion-header > ion-toolbar > ion-title {
	@extend .H5;
}

// modal header toolbar
ion-modal ion-header > ion-toolbar,
ion-modal ion-footer > ion-toolbar {
	--background: transparent;
	--padding-top: 1rem;
	--padding-bottom: 1rem;
	//--padding-start: 0rem;
	//--padding-end: 0rem;
}

// page header toolbar
ion-router-outlet ion-header > ion-toolbar,
ion-router-outlet ion-footer > ion-toolbar {
	--background: transparent;
	--padding-top: 1rem;
	--padding-bottom: 1rem;
	--padding-start: 0rem;
	--padding-end: 0rem;
}

ion-header > ion-toolbar > ion-back-button {
	@extend .H5;
	color: var(--standard-clickable);
	--color: var(--standard-clickable);
	--icon-font-size: 1.5rem;
	margin-left: 1rem;
	--icon-margin-end: 0.5rem;
}

ion-header ion-toolbar:first-of-type {
	padding-top: 0rem;
}

.custom-textarea-wrapper {
	background-color: var(--ion-color-light-tint) !important;
	border-radius: 0.5rem !important;
	display: flex;
	align-content: stretch;
	padding: 0.75rem;
	border: 2px solid var(--ion-color-light-tint);

	&-focused {
		@extend .custom-textarea-wrapper;
		border: 2px solid var(--standard-clickable);
	}
}

textarea {
	@extend .Body1;
	background-color: var(--ion-color-light-tint) !important;
	color: var(--text-neutral-20) !important;
	max-height: 9rem;

	display: block;
	width: 100%;
	border: none;
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}

div.stickyHeader {
	position: sticky;
	z-index: 100;
	background-color: var(--ion-background-color);
	top: 0rem;
	&-padding-top {
		@extend .stickyHeader;
		padding-top: 1rem;
	}
}

ion-title.header {
	@extend .H1;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: left;
	height: 2.125rem;
	position: relative;

	color: var(--text-neutral-20);
	--color: var(--text-neutral-20);
}

ion-title.subHeader {
	@extend .SubTitle2;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: left;
	position: relative;

	color: var(--text-neutral-10);
	--color: var(--text-neutral-10);
}

div.header {
	@extend .H4;
	font-size: 1.25rem;
	padding: 0rem 1rem;
	height: 1.5rem;
}

ion-item.H1 {
	margin-bottom: 1rem;
}

// ion icon
div.inner-content ion-icon,
ion-header ion-icon,
ion-content ion-icon,
ion-footer ion-icon {
	color: var(--standard-clickable);
	fill: var(--standard-clickable);
	height: 1.5rem;
	width: 1.5rem;
}

ion-icon.large {
	height: 1.75rem;
	width: 1.75rem;
}

ion-icon.medium {
	height: 1.25rem;
	width: 1.25rem;
}

ion-icon.small {
	height: 1rem;
	width: 1rem;
}

ion-icon.black {
	color: var(--text-neutral-20) !important;
	fill: var(--text-neutral-20) !important;
}

ion-icon.gray {
	color: var(--ion-color-medium-tint) !important;
	fill: var(--ion-color-medium-tint) !important;
}

ion-icon.red {
	color: var(--ion-color-danger-shade) !important;
	fill: var(--ion-color-danger-shade) !important;
}

ion-icon.green {
	color: var(--ion-color-success-shade) !important;
	fill: var(--ion-color-success-shade) !important;
}

ion-icon.yellow {
	color: var(--ion-color-warning-shade) !important;
	fill: var(--ion-color-warning-shade) !important;
}

ion-icon.white {
	color: white !important;
	fill: white !important;
}

ion-input.has-focus {
	border: 2px solid var(--standard-clickable) !important;
}

ion-input {
	border: 2px solid var(--ion-color-light-tint) !important;
}

// Summarybox
div.summaryBox {
	background-color: var(--ion-color-tertiary);
	border-radius: 1rem;
	margin: 1rem;
	padding: 0.5rem 1rem;
	//padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-items: center;
}

.summaryBox > .box {
	width: 100%;
	text-align: center;
}

.summaryBox > .min-width {
	width: min-content;
}

.summaryBox .main {
	@extend .H3;
	color: var(--standard-clickable) !important;
	text-align: left;
	display: flex;
	align-items: center;
}

.summaryBox .sub {
	@extend .SubTitle2;
	color: var(--standard-clickable) !important;
	text-align: left;
	display: flex;
	align-items: center;
}

.summaryBox .center-text {
	justify-content: center;
}

ion-modal.auto-height {
	align-items: flex-end;
	--height: auto;

	.ion-page {
		position: relative;
		display: block;
		contain: content;

		.inner-content {
			max-height: 80vh;
			overflow: auto;
			padding-bottom: 1rem;
		}
	}
}

ion-toast.success-toast {
	--background: var(--ion-color-success);
	--color: var(--ion-color-success-contrast);
}
ion-toast.fail-toast {
	--background: var(--ion-color-danger);
	--color: var(--ion-color-danger-contrast);
}
ion-toast.success-toast::part(content) {
	@extend .Body2;
	color: var(--ion-color-success-contrast) !important;
}
ion-toast.fail-toast::part(content) {
	@extend .Body2;
	color: var(--ion-color-danger-contrast) !important;
}

.text-neutral-10 {
	color: var(--text-neutral-10) !important;
}

// margin defaults

.margin {
	&-2 {
		margin: 2rem !important;
	}
	&-1 {
		margin: 1rem !important;
	}
	&-05 {
		margin: 0.5rem !important;
	}
	&-025 {
		margin: 0.25rem !important;
	}
	&-0 {
		margin: 0rem !important;
	}

	&-top {
		&-2 {
			margin-top: 2rem !important;
		}
		&-1 {
			margin-top: 1rem !important;
		}
		&-05 {
			margin-top: 0.5rem !important;
		}
		&-025 {
			margin-top: 0.25rem !important;
		}
		&-0 {
			margin-top: 0rem !important;
		}
	}

	&-right {
		&-2 {
			margin-right: 2rem !important;
		}
		&-1 {
			margin-right: 1rem !important;
		}
		&-05 {
			margin-right: 0.5rem !important;
		}
		&-025 {
			margin-right: 0.25rem !important;
		}
		&-0 {
			margin-right: 0rem !important;
		}
	}

	&-bottom {
		&-2 {
			margin-bottom: 2rem !important;
		}
		&-1 {
			margin-bottom: 1rem !important;
		}
		&-05 {
			margin-bottom: 0.5rem !important;
		}
		&-025 {
			margin-bottom: 0.25rem !important;
		}
		&-0 {
			margin-bottom: 0rem !important;
		}
	}

	&-left {
		&-2 {
			margin-left: 2rem !important;
		}
		&-1 {
			margin-left: 1rem !important;
		}
		&-05 {
			margin-left: 0.5rem !important;
		}
		&-025 {
			margin-left: 0.25rem !important;
		}
		&-0 {
			margin-left: 0rem !important;
		}
	}
}

// padding

.padding {
	&-2 {
		padding: 2rem !important;
	}
	&-1 {
		padding: 1rem !important;
	}
	&-05 {
		padding: 0.5rem !important;
	}
	&-025 {
		padding: 0.25rem !important;
	}
	&-0 {
		padding: 0rem !important;
	}

	&-top {
		&-2 {
			padding-top: 2rem !important;
		}
		&-1 {
			padding-top: 1rem !important;
		}
		&-05 {
			padding-top: 0.5rem !important;
		}
		&-025 {
			padding-top: 0.25rem !important;
		}
		&-0 {
			padding-top: 0rem !important;
		}
	}

	&-right {
		&-2 {
			padding-right: 2rem !important;
		}
		&-1 {
			padding-right: 1rem !important;
		}
		&-05 {
			padding-right: 0.5rem !important;
		}
		&-025 {
			padding-right: 0.25rem !important;
		}
		&-0 {
			padding-right: 0rem !important;
		}
	}

	&-bottom {
		&-2 {
			padding-bottom: 2rem !important;
		}
		&-1 {
			padding-bottom: 1rem !important;
		}
		&-05 {
			padding-bottom: 0.5rem !important;
		}
		&-025 {
			padding-bottom: 0.25rem !important;
		}
		&-0 {
			padding-bottom: 0rem !important;
		}
	}

	&-left {
		&-2 {
			padding-left: 2rem !important;
		}
		&-1 {
			padding-left: 1rem !important;
		}
		&-05 {
			padding-left: 0.5rem !important;
		}
		&-025 {
			padding-left: 0.25rem !important;
		}
		&-0 {
			padding-left: 0rem !important;
		}
	}
}

.no {
	&-inner-padding {
		--inner-padding-start: 0rem;
		--inner-padding-end: 0rem;
		--inner-padding-top: 0rem;
		--inner-padding-bottom: 0rem;
		&-start {
			--inner-padding-start: 0rem;
		}
		&-end {
			--inner-padding-end: 0rem;
		}
		&-top {
			--inner-padding-top: 0rem;
		}
		&-bottom {
			--inner-padding-bottom: 0rem;
		}
	}

	&-padding {
		--padding-start: 0rem;
		--padding-end: 0rem;
		--padding-top: 0rem;
		--padding-bottom: 0rem;
		&-start {
			--padding-start: 0rem;
		}
		&-end {
			--padding-end: 0rem;
		}
		&-top {
			--padding-top: 0rem;
		}
		&-bottom {
			--padding-bottom: 0rem;
		}
	}
}

body.scanner-active {
	--background: transparent;
	--ion-background-color: transparent;
	z-index: 1000;
}

.centered {
  width: 100%;
  text-align: center;
}

.flex {
  display: flex;
}
