#avatar {
	width: 4rem;
	height: 4rem;
	border-radius: 2.5rem;
	font-size: 1.375rem;
	line-height: 1.75rem;
	background: var(--ion-color-tertiary-tint);
	color: var(--standard-clickable);
	display: flex;
	align-items: center;
	margin-right: 1rem;
	justify-content: center;
}

#mail {
	color: var(--text-neutral-10);
}

.list-menu-item {
	--min-height: 3.5rem;
	--inner-padding-end: 0.5rem;
	--border-color: var(--ion-color-medium);
	--detail-icon-color: var(--standard-clickable);
}

#appInfo {
	color: var(--text-neutral-10);
}
