<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title class="header">{{_lang._dict.Settings.Header}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item lines="none">
			<ion-avatar id="avatar">{{_employeeData.initials}}</ion-avatar>
			<ion-label>
				<h4 class="H4">
					{{_employeeData.firstname}} {{_employeeData.lastname}}
					<ion-icon class="small" src="assets/icon/edit.svg" (click)="navigateToMasterData()"></ion-icon>
				</h4>
				<p id="mail" class="Body2">{{_employeeData.username}}</p>
			</ion-label>
		</ion-item>

		<div class="header margin-bottom-1 margin-top-2">{{_lang._dict.Settings.AccountSettings}}</div>

		<ion-item
			[routerLink]="['/app/tabs/settings/master-data']"
			lines="inset"
			detail-icon="assets/icon/chevron/right.svg"
			class="list-menu-item"
			detail="true">
			<ion-icon src="assets/icon/document.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.MasterDataLabel}}</ion-label>
		</ion-item>

		<ion-item
			[routerLink]="['/app/tabs/settings/security']"
			lines="inset"
			detail-icon="assets/icon/chevron/right.svg"
			class="list-menu-item"
			detail="true">
			<ion-icon src="assets/icon/lock.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.Security}}</ion-label>
		</ion-item>

		<ion-item
			[routerLink]="['/app/tabs/settings/language-change']"
			class="list-menu-item"
			lines="inset"
			detail-icon="assets/icon/chevron/right.svg"
			detail="true">
			<ion-icon src="assets/icon/chat-round.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.Language}}</ion-label>
		</ion-item>

        <!--
		<ion-item
			[routerLink]="['/app/tabs/settings/tracking']"
			class="list-menu-item"
			detail-icon="assets/icon/chevron/right.svg"
			lines="none"
			detail="true">
			<ion-icon src="assets/icon/office-building.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.Stamp}}</ion-label>
		</ion-item>
		-->

		<div class="header margin-bottom-1 margin-top-2">{{_lang._dict.Settings.Help}}</div>

		<!--
			Dieses attribut später wieder in das nachfolgende Element ersetzen wegen der linie
			Wenn das Element Analysis wieder aktiviert wurde

			lines="inset"
		-->
		<ion-item
			button="true"
			lines="none"
			detail-icon="assets/icon/chevron/right.svg"
			class="list-menu-item"
			(click)="contactSupport()"
			detail="true">
			<ion-icon src="assets/icon/support.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.Support}}</ion-label>
		</ion-item>

		<!--
			kommt später hinzu
		-->
		<!--
		<ion-item
			[routerLink]="['/app/tabs/settings/analysis']"
			lines="none"
			class="list-menu-item"
			button="true"
			visible="none">
			<ion-icon src="assets/icon/data-analysis.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.Analyse}}</ion-label>
		</ion-item>
	-->

		<div class="header margin-bottom-1 margin-top-2">{{_lang._dict.Settings.Legal}}</div>

		<ion-item
			(click)="openDSE()"
			lines="inset"
			class="list-menu-item"
			button="true"
			detail="true"
			detail-icon="assets/icon/chevron/right.svg">
			<ion-icon src="assets/icon/info.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.Privacy}}</ion-label>
		</ion-item>
		<ion-item
			(click)="openIAB('https://compleet.com/impressum')"
			lines="inset"
			class="list-menu-item"
			button="true"
			detail-icon="assets/icon/chevron/right.svg"
			detail="true">
			<ion-icon src="assets/icon/info.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.Imprint}}</ion-label>
		</ion-item>
		<ion-item
			(click)="openTermsOfUse()"
			class="list-menu-item"
			lines="none"
			button="true"
			detail-icon="assets/icon/chevron/right.svg"
			detail="true">
			<ion-icon src="assets/icon/info.svg" class="black margin-right-05"></ion-icon>
			<ion-label class="H5">{{_lang._dict.Settings.TermsOfUse}}</ion-label>
		</ion-item>

		<ion-item class="ion-text-left list-menu-item" lines="inset" button="false" detail="false">
			<p class="Link1 margin-top-1 margin-bottom-1" (click)="logout()">{{_lang._dict.Settings.Logout}}</p>
		</ion-item>

		<ion-item id="appInfo" class="Body2" lines="none">{{_lang._dict.Settings.AppVersion}}: {{_version}}</ion-item>
	</ion-list>
</ion-content>
